.frame1-frame1 {
  width: 794px;
  height: 720.932861328125px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame1-group1 {
  top: 136.91156005859375px;
  left: 248.93826293945312px;
  width: 470.6881103515625px;
  height: 462.164794921875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-ellipse9 {
  top: 54.252410888671875px;
  left: -0.000207659846637398px;
  width: 408px;
  height: 408px;
  position: absolute;
  border-color: rgba(0, 0, 0, 0.699999988079071);
  border-style: solid;
  border-width: 0.8496178984642029px;
}
.frame1-ellipse8 {
  top: 62.50590896606445px;
  left: -0.000207659846637398px;
  width: 400px;
  height: 400px;
  position: absolute;
}
.frame1-maskgroup {
  top: 62.50590896606445px;
  left: -0.000207659846637398px;
  width: 399.65887451171875px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 399.65887451171875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame1-happyyoungwomanholdinglaptopgraywalltransformed2 {
  top: -0.0000042970154936483596px;
  left: 12.311347007751465px;
  width: 458px;
  height: 371px;
  position: absolute;
}
.frame1-image5143537removebgpreview1 {
  top: 70.9295425415039px;
  left: 1.8189894035458565e-12px;
  width: 360px;
  height: 360px;
  position: absolute;
}
.frame1-image5143494removebgpreview1 {
  top: 438.4028015136719px;
  left: 566.519775390625px;
  width: 234px;
  height: 234px;
  position: absolute;
}
.frame1-ellipse4 {
  top: 110.87511444091797px;
  left: 569.24365234375px;
  width: 128px;
  height: 124px;
  position: absolute;
}
.frame1-ellipse81 {
  left: 193px;
  width: 106px;
  bottom: 32px;
  height: 104px;
  position: absolute;
}
.frame1-ellipse10 {
  top: 529.0325927734375px;
  left: 186.71316528320312px;
  width: 52px;
  height: 51px;
  position: absolute;
}
.frame1-ellipse11 {
  top: 252.587158203125px;
  left: 678.844482421875px;
  width: 52px;
  height: 51px;
  position: absolute;
}
.frame1-root-class-name {
  top: -68px;
  left: 596px;
  position: absolute;
}
