.frame163-frame163 {
  gap: 13.349112510681152px;
  width: 261px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.frame163-frame162 {
  gap: 13.349112510681152px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.frame163-frame161 {
  gap: 6.674556255340576px;
  width: 153.51478576660156px;
  height: 55.06509017944336px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.frame163-text {
  top: -5.8403472900390625px;
  left: -0.000244140625px;
  color: var(--dl-color-default-lmstext);
  height: auto;
  position: absolute;
  font-size: 15.017751693725586px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 21.69230842590332px;
  font-stretch: normal;
  text-decoration: none;
}
.frame163-frame151 {
  gap: 8.343194961547852px;
  top: 25.863784790039062px;
  left: -0.000244140625px;
  width: 103px;
  display: flex;
  padding: 3.337278127670288px 13.349112510681152px;
  position: absolute;
  align-items: center;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 0.834319531917572px;
  border-radius: 6.674556255340576px;
  background-color: rgba(22, 119, 255, 1);
}
.frame163-frame103 {
  gap: 8.343194961547852px;
  display: flex;
  align-items: center;
}
.frame163-text2 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Regular;
  text-align: left;
  font-family: Mulish;
  font-weight: 400;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.frame163-frame152 {
  gap: 8.343194961547852px;
  right: -95px;
  width: 135px;
  bottom: 4px;
  display: flex;
  padding: 3.337278127670288px 13.349112510681152px;
  position: absolute;
  align-items: center;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 0.834319531917572px;
  border-radius: 6.674556255340576px;
  background-color: var(--dl-color-default-white);
}
.frame163-frame1031 {
  gap: 8.343194961547852px;
  display: flex;
  align-items: center;
}
.frame163-text4 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.frame163-group109 {
  width: 154px;
  height: 32.391475677490234px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-group105 {
  top: 0.0000762939453125px;
  left: 0px;
  width: 33.373023986816406px;
  height: 32.39139938354492px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-group104 {
  top: 0px;
  left: 0.000244140625px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-union {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-maskgroup {
  top: 0.000030517578125px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-group1041 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-union01 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-maskgroup1 {
  top: 4.086831569671631px;
  left: 6.8111114501953125px;
  width: 20.432313919067383px;
  height: 31.614864349365234px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-rectangle69 {
  top: -0.13769513368606567px;
  left: -2.484626054763794px;
  width: 27px;
  height: 28px;
  position: absolute;
}
.frame163-group103 {
  top: 0px;
  left: 0.000244140625px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-union02 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-group106 {
  top: 0.000008848292054608464px;
  left: 40.048309326171875px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-group1042 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-union03 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-maskgroup2 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-group1043 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-union04 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-maskgroup3 {
  top: 4.171344757080078px;
  left: 3.3373756408691406px;
  width: 26.197105407714844px;
  height: 27.925548553466797px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-rectangle70 {
  top: 0.078277587890625px;
  left: -0.082061767578125px;
  width: 28px;
  height: 28px;
  position: absolute;
}
.frame163-group1031 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-union05 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-group107 {
  top: 0.000008848292054608464px;
  left: 80.09564208984375px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-group1044 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-union06 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-maskgroup4 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-group1045 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-union07 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-maskgroup5 {
  top: 4.0868377685546875px;
  left: 6.810907363891602px;
  width: 20.432313919067383px;
  height: 31.614864349365234px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-rectangle691 {
  top: -0.1376953125px;
  left: -2.484619140625px;
  width: 27px;
  height: 28px;
  position: absolute;
}
.frame163-group1032 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 1;
  justify-content: center;
}
.frame163-union08 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-group108 {
  top: 0px;
  left: 120.14292907714844px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-group1046 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-union09 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-maskgroup6 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-group1047 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-union10 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-maskgroup7 {
  top: 4.0868377685546875px;
  left: 6.810850620269775px;
  width: 20.432313919067383px;
  height: 31.614864349365234px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-rectangle692 {
  top: -0.1376953125px;
  left: -2.484619140625px;
  width: 27px;
  height: 28px;
  position: absolute;
}
.frame163-group1033 {
  top: 0px;
  left: 0px;
  width: 33.372779846191406px;
  height: 32.3913688659668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame163-union11 {
  top: 0px;
  left: 0px;
  width: 33px;
  height: 32px;
  position: absolute;
}
.frame163-root-class-name {
  top: 20.0233154296875px;
  left: 20.023681640625px;
  position: absolute;
}
