.frame237679-frame237679 {
  gap: 56.142189025878906px;
  width: 1218px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.frame237679-group237638 {
  width: 788px;
  height: 164.96444702148438px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-group237637 {
  top: 0px;
  left: 179.8455810546875px;
  width: 367.1802062988281px;
  height: 61.11246109008789px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-text {
  top: 1.1127418279647827px;
  color: rgba(22, 119, 255, 1);
  height: auto;
  position: absolute;
  font-size: 45.67500305175781px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 59.37750244140625px;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-vector9 {
  top: 60.95417404174805px;
  left: 406.3171081542969px;
  width: 168px;
  height: 6px;
  position: absolute;
}
.frame237679-text02 {
  top: 132px;
  left: 202px;
  color: var(--dl-color-default-gray);
  width: 788px;
  height: auto;
  position: absolute;
  font-size: 20.934375762939453px;
  font-style: Regular;
  text-align: center;
  font-family: Raleway;
  font-weight: 400;
  line-height: 160.0000023841858%;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-group237639 {
  width: 1218px;
  height: 313.0640563964844px;
  display: flex;
  z-index: 1;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-lessons {
  top: 0px;
  left: 0px;
  width: 1218px;
  height: 313.0640563964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-frame4 {
  top: 0.000003051757857974735px;
  left: 942.046875px;
  width: 275.953125px;
  height: 313.0640563964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.frame237679-text04 {
  top: 151.29844665527344px;
  left: 14.2734375px;
  color: var(--dl-color-default-gray);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 17.12812614440918px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: 27.595314025878906px;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-text06 {
  top: 98.9625015258789px;
  left: 84.6890640258789px;
  color: rgba(22, 119, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25.692188262939453px;
  font-style: SemiBold;
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-frame0314 {
  top: 28.546878814697266px;
  left: 114.1875px;
  width: 47.578125px;
  height: 47.578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-group {
  top: -0.10645532608032227px;
  left: -0.8205367922782898px;
  width: 47.6572265625px;
  height: 47.6572265625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-group1 {
  top: 0px;
  left: 0px;
  width: 47.6572265625px;
  height: 47.6572265625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-vector {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
}
.frame237679-iconbread {
  top: 0.13149337470531464px;
  left: -18.4161376953125px;
  width: 63px;
  height: 61.8515625px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-group996 {
  top: 16.805187225341797px;
  left: 3.795088529586792px;
  width: 55.24818801879883px;
  height: 37.63645935058594px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-group839 {
  top: 0px;
  left: 0px;
  width: 55.24818801879883px;
  height: 37.63645935058594px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-vector411 {
  top: 2.3475136756896973px;
  left: 1.31474769115448px;
  width: 53px;
  height: 34px;
  position: absolute;
  box-sizing: content-box;
}
.frame237679-vector411-stroke {
  top: 1.0630261898040771px;
  left: 0.004996117670089006px;
  width: 55px;
  height: 37px;
  position: absolute;
  box-sizing: content-box;
}
.frame237679-vector419 {
  top: 16.95172882080078px;
  left: 0.00003299363743103356px;
  width: 24px;
  height: 16px;
  position: absolute;
  box-sizing: content-box;
}
.frame237679-vector818-stroke {
  top: 18.107072830200195px;
  left: 5.363374710083006px;
  width: 7px;
  height: 9px;
  position: absolute;
}
.frame237679-subtract {
  top: 3.0226070880889893px;
  left: 7.837960243225098px;
  width: 46px;
  height: 33px;
  position: absolute;
  box-sizing: content-box;
}
.frame237679-vector412 {
  top: 12.09251880645752px;
  left: 8.231215476989744px;
  width: 13px;
  height: 12px;
  position: absolute;
  box-sizing: content-box;
}
.frame237679-vector413 {
  top: 4.562061786651615px;
  left: 19.516395568847656px;
  width: 13px;
  height: 15px;
  position: absolute;
  box-sizing: content-box;
}
.frame237679-vector414 {
  top: -0.00004506308323115604px;
  left: 35.40524673461914px;
  width: 12px;
  height: 9px;
  position: absolute;
  box-sizing: content-box;
}
.frame237679-vector416-stroke {
  top: 11.637627601623535px;
  left: 12.53172779083252px;
  width: 10px;
  height: 13px;
  position: absolute;
}
.frame237679-vector417-stroke {
  top: 4.161220550537113px;
  left: 27.12116813659668px;
  width: 7px;
  height: 16px;
  position: absolute;
}
.frame237679-vector418-stroke {
  top: 1.7990033626556432px;
  left: 40.82056427001953px;
  width: 4px;
  height: 11px;
  position: absolute;
}
.frame237679-group969 {
  top: 11.05160236358643px;
  left: 34.10493087768555px;
  width: 18.86138916015625px;
  height: 17.504369735717773px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-ellipse1179 {
  top: 8.191521644592282px;
  left: 7.308163166046143px;
  width: 2px;
  height: 3px;
  position: absolute;
}
.frame237679-ellipse1188 {
  top: 10.200646400451657px;
  left: 3.067103862762451px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1189 {
  top: 11.856638908386227px;
  left: 6.306375980377197px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1190 {
  top: 5.721672534942623px;
  left: 5.151056289672852px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1180 {
  top: 7.123240470886227px;
  left: 10.783453941345215px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1181 {
  top: 4.705180644989017px;
  left: 9.029214859008789px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1182 {
  top: 5.062673091888431px;
  left: 14.073610305786133px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1183 {
  top: 2.4168329238891637px;
  left: 12.830038070678711px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1184 {
  top: 1.9968042373657262px;
  left: 17.182119369506836px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1185 {
  top: 8.296360015869144px;
  left: 13.14918327331543px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1186 {
  top: 10.829105377197262px;
  left: 9.736716270446777px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1187 {
  top: 15.772772789001461px;
  left: 0.36483168601989746px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1191 {
  top: 13.337142944335934px;
  left: 3.922520160675049px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1192 {
  top: 13.029853820800778px;
  left: 1.463866949081421px;
  width: 1px;
  height: 1px;
  position: absolute;
}
.frame237679-ellipse1193 {
  top: 7.802723884582516px;
  left: 2.4588515758514404px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1194 {
  top: 3.5963675975799596px;
  left: 7.553338527679443px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1195 {
  top: 0.9165536165237462px;
  left: 10.913758277893066px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1196 {
  top: 0.2652308344841039px;
  left: 14.65396499633789px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.frame237679-ellipse1197 {
  top: -0.00002116386712813778px;
  left: 17.00892448425293px;
  width: 1px;
  height: 2px;
  position: absolute;
}
.frame237679-frame2 {
  top: 0.000003051757857974735px;
  left: 314.015625px;
  width: 275.953125px;
  height: 313.0640563964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.frame237679-text08 {
  top: 151.29844665527344px;
  left: 14.2734375px;
  color: var(--dl-color-default-gray);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 17.12812614440918px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: 27.595314025878906px;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-text10 {
  top: 98.9625015258789px;
  left: 88.49531555175781px;
  color: rgba(22, 119, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25.692188262939453px;
  font-style: SemiBold;
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-frame0292 {
  top: 27.109777450561523px;
  left: 115.1966781616211px;
  width: 47.578125px;
  height: 47.578125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-group2 {
  top: -0.00003814697265625px;
  left: 0.001190185546875px;
  width: 47.578125px;
  height: 47.578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-group3 {
  top: 0px;
  left: 0px;
  width: 47.578125px;
  height: 47.578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-vector1 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
}
.frame237679-vaccine {
  top: 16.642589569091797px;
  left: 104.7294921875px;
  width: 68.51250457763672px;
  height: 68.51250457763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-medicine {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.frame237679-colour-a {
  top: 0px;
  left: 0px;
  width: 68.51250457763672px;
  height: 68.51250457763672px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-mat10000 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.frame237679-colour-a1 {
  top: 0px;
  left: 0px;
  width: 68.51250457763672px;
  height: 68.51250457763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-coughcolour1 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
  border-radius: 71.3671875px;
}
.frame237679-colour-b {
  top: 0px;
  left: 0px;
  width: 68.51250457763672px;
  height: 68.51250457763672px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-mat20000 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.frame237679-colour-b1 {
  top: 0px;
  left: 0px;
  width: 68.51250457763672px;
  height: 68.51250457763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-rectangle19 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
  border-radius: 71.3671875px;
}
.frame237679-colour-c {
  top: 0px;
  left: 0px;
  width: 68.51250457763672px;
  height: 68.51250457763672px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-mat200001 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.frame237679-colour-c1 {
  top: 0px;
  left: 0px;
  width: 68.51250457763672px;
  height: 68.51250457763672px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-rectangle191 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
  border-radius: 71.3671875px;
}
.frame237679-shadow {
  top: 0px;
  left: 0px;
  width: 68.51250457763672px;
  height: 68.51250457763672px;
  display: flex;
  opacity: 0.60;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-shadow0000 {
  top: 0px;
  left: 0px;
  width: 69px;
  height: 69px;
  position: absolute;
}
.frame237679-frame1 {
  top: 0px;
  left: 0px;
  width: 852.4403076171875px;
  height: 313.0640563964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-bg {
  top: 0px;
  left: 0px;
  width: 276px;
  height: 313px;
  position: absolute;
  border-radius: 14.2734375px;
}
.frame237679-button {
  top: 242.64837646484375px;
  left: 60.899635314941406px;
  width: 153.99374389648438px;
  height: 39.837501525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-frame237654 {
  gap: 9.515625px;
  top: 0px;
  left: 0px;
  display: flex;
  padding: 11.418750762939453px 58.99687576293945px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 9.515625px 57.09375px 0px rgba(38, 44, 117, 0.07999999821186066) ;
  align-items: flex-start;
  border-radius: 9.515625px;
  background-color: var(--dl-color-default-white);
}
.frame237679-text12 {
  color: rgba(22, 119, 255, 1);
  height: auto;
  font-size: 14.2734375px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-text14 {
  top: 151.29844665527344px;
  left: 14.2734375px;
  color: var(--dl-color-default-gray);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 17.12812614440918px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: 27.595314025878906px;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-text16 {
  top: 98.9625015258789px;
  left: 95.15625px;
  color: rgba(22, 119, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25.692188262939453px;
  font-style: SemiBold;
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-frame0281 {
  top: 28.546878814697266px;
  left: 114.1875px;
  width: 47.578125px;
  height: 47.578125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-group4 {
  top: 0px;
  left: 0px;
  width: 47.578125px;
  height: 47.578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-group5 {
  top: 0px;
  left: 0px;
  width: 47.578125px;
  height: 47.578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-vector2 {
  top: 0px;
  left: 0px;
  width: 48px;
  height: 48px;
  position: absolute;
}
.frame237679-frame20 {
  top: 30.44024658203125px;
  left: 109.72147369384766px;
  width: 44.72343826293945px;
  height: 40.91718673706055px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-group813 {
  top: -4.249042510986328px;
  left: -45.797664642333984px;
  width: 189px;
  height: 147px;
  position: absolute;
}
.frame237679-button1 {
  top: 246.93038940429688px;
  left: 698.446533203125px;
  width: 153.99374389648438px;
  height: 39.837501525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-frame2376541 {
  gap: 9.515625px;
  top: 0px;
  left: 0px;
  display: flex;
  padding: 11.418750762939453px 58.99687576293945px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 9.515625px 57.09375px 0px rgba(38, 44, 117, 0.07999999821186066) ;
  align-items: flex-start;
  border-radius: 14.2734375px;
  background-color: var(--dl-color-default-white);
}
.frame237679-text18 {
  color: rgba(22, 119, 255, 1);
  height: auto;
  font-size: 14.2734375px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-frame3 {
  top: 0.000003051757857974735px;
  left: 371.109375px;
  width: 786.7828369140625px;
  height: 313.0640563964844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-bg1 {
  top: 0.000003051757857974735px;
  left: 256.921875px;
  width: 276px;
  height: 313px;
  position: absolute;
  border-radius: 14.2734375px;
}
.frame237679-text20 {
  top: 151.29844665527344px;
  left: 271.1953125px;
  color: var(--dl-color-default-gray);
  width: 247px;
  height: auto;
  position: absolute;
  font-size: 17.12812614440918px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: 27.595314025878906px;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-text22 {
  top: 98.9625015258789px;
  left: 356.8359375px;
  color: rgba(22, 119, 255, 1);
  height: auto;
  position: absolute;
  font-size: 25.692188262939453px;
  font-style: SemiBold;
  text-align: center;
  font-family: Raleway;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-frame0303 {
  top: 28.546878814697266px;
  left: 371.109375px;
  width: 47.578125px;
  height: 47.578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-group6 {
  top: -25.226160049438477px;
  left: -25.634572982788086px;
  width: 98.01094055175781px;
  height: 98.01094055175781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-group7 {
  top: 0px;
  left: 0px;
  width: 98.01094055175781px;
  height: 98.01094055175781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-group8 {
  top: 0px;
  left: 0px;
  width: 98.01094055175781px;
  height: 98.01094055175781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-vector3 {
  top: 25.22616195678711px;
  left: 25.63457489013672px;
  width: 48px;
  height: 48px;
  position: absolute;
}
.frame237679-icon-exercise {
  top: 0px;
  left: 0px;
  width: 98.01094055175781px;
  height: 98.01094055175781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-image0000 {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 98px;
  position: absolute;
}
.frame237679-colour-a2 {
  top: 0px;
  left: 0px;
  width: 98.01094055175781px;
  height: 98.01094055175781px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-primary10000 {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 98px;
  position: absolute;
}
.frame237679-colour-a3 {
  top: 0px;
  left: 0px;
  width: 98.01094055175781px;
  height: 98.01094055175781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-coughcolour11 {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 98px;
  position: absolute;
  border-radius: 358.73907470703125px;
}
.frame237679-colour-b2 {
  top: 0px;
  left: 0px;
  width: 98.01094055175781px;
  height: 98.01094055175781px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-secondary20000 {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 98px;
  position: absolute;
}
.frame237679-colour-b3 {
  top: 0px;
  left: 0px;
  width: 98.01094055175781px;
  height: 98.01094055175781px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.frame237679-rectangle192 {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 98px;
  position: absolute;
  border-radius: 405.3656311035156px;
}
.frame237679-shadow1 {
  top: 0px;
  left: 0px;
  width: 98.01094055175781px;
  height: 98.01094055175781px;
  display: flex;
  opacity: 0.50;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-shadow00001 {
  top: 0px;
  left: 0px;
  width: 98px;
  height: 98px;
  position: absolute;
}
.frame237679-frame2376542 {
  gap: 9.515625px;
  top: 243.1242218017578px;
  left: 0px;
  display: flex;
  padding: 11.418750762939453px 58.99687576293945px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 9.515625px 57.09375px 0px rgba(38, 44, 117, 0.07999999821186066) ;
  align-items: flex-start;
  border-radius: 9.515625px;
  background-color: var(--dl-color-default-white);
}
.frame237679-text24 {
  color: rgba(22, 119, 255, 1);
  height: auto;
  font-size: 14.2734375px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-button2 {
  top: 246.9304656982422px;
  left: 632.7890625px;
  width: 153.99374389648438px;
  height: 39.837501525878906px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-frame2376543 {
  gap: 9.515625px;
  top: 0px;
  left: 0px;
  display: flex;
  padding: 11.418750762939453px 58.99687576293945px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 9.515625px 57.09375px 0px rgba(38, 44, 117, 0.07999999821186066) ;
  align-items: flex-start;
  border-radius: 9.515625px;
  background-color: var(--dl-color-default-white);
}
.frame237679-text26 {
  color: rgba(22, 119, 255, 1);
  height: auto;
  font-size: 14.2734375px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-button3 {
  top: 463.4111328125px;
  left: 674.6572265625px;
  width: 184px;
  height: 39.837501525878906px;
  display: flex;
  z-index: 2;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.frame237679-frame2376544 {
  gap: 9.515625px;
  top: 0px;
  left: 0px;
  display: flex;
  padding: 11.418750762939453px 38.0625px;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 9.515625px 57.09375px 0px rgba(38, 44, 117, 0.07999999821186066) ;
  align-items: flex-start;
  border-radius: 9.515625px;
  background-color: rgba(64, 150, 255, 1);
}
.frame237679-text28 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14.2734375px;
  font-style: Medium;
  text-align: center;
  font-family: Raleway;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.frame237679-root-class-name {
  top: 0px;
  left: 111px;
  position: absolute;
}
