.discussions-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.discussions-mycourses {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-frame-admin-panel-menu1 {
  height: 1156.04736328125px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-frame-admin-panel-menu11 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-logo {
  gap: 8px;
  display: flex;
  padding: 16px 16px 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-logo1 {
  gap: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.discussions-frame1000002598 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-container-logo {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 4.800000190734863px;
}
.discussions-book4 {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14.40000057220459px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group {
  top: 1.2000000476837158px;
  left: 1.2000000476837158px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector {
  top: 1.7998048067092896px;
  left: 2.3999879360198975px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.discussions-vector01 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.discussions-vector02 {
  top: 5.399805068969727px;
  left: 2.999988079071045px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.discussions-vector03 {
  top: 8.999805450439453px;
  left: 2.3999879360198975px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.discussions-frame-title {
  gap: 8px;
  display: flex;
  align-items: center;
}
.discussions-text {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame-menu {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-menu-items {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.discussions-navlink {
  display: contents;
}
.discussions-menu-item-inline-navigation-item {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.discussions-icon-dashboard-outlined {
  width: 16px;
  height: 16px;
}
.discussions-text002 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 184px;
  height: auto;
  text-align: left;
  line-height: 22px;
}
.discussions-navlink1 {
  display: contents;
}
.discussions-menu-item-inline-navigation-item1 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgba(186, 224, 255, 1);
}
.discussions-icon-database-outlined {
  width: 16px;
  height: 16px;
}
.discussions-text004 {
  color: rgba(9, 88, 217, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.discussions-navlink2 {
  display: contents;
}
.discussions-menu-item-inline-navigation-item2 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.discussions-icon-bar-chart-outlined {
  width: 16px;
  height: 16px;
}
.discussions-text006 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.discussions-navlink3 {
  display: contents;
}
.discussions-menu-item-inline-navigation-item3 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.discussions-icon-calendar-outlined {
  width: 16px;
  height: 16px;
}
.discussions-text008 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.discussions-menu-submenu {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.discussions-navlink4 {
  display: contents;
}
.discussions-menu-item-inline-submenu-title {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.discussions-icon-file-text-outlined {
  width: 16px;
  height: 16px;
}
.discussions-text010 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.discussions-icon-down-outlined {
  width: 12px;
  height: 12px;
}
.discussions-menu-items1 {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.discussions-navlink5 {
  display: contents;
}
.discussions-menu-item-inline-navigation-item4 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.discussions-icon-setting-outlined {
  width: 16px;
  height: 16px;
}
.discussions-text012 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.discussions-content-wrapper {
  width: 1176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.discussions-frame-header {
  gap: 8px;
  display: flex;
  padding: 8px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-icon-search {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.discussions-frame-button {
  gap: 8px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.discussions-content {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.discussions-icon-menu-fold-outlined {
  width: 16px;
  height: 16px;
}
.discussions-frame-input-search {
  width: 348px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-input-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 6px 0 0 6px;
}
.discussions-frame-input-basic {
  gap: 10px;
  display: flex;
  padding: 0 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
}
.discussions-content1 {
  gap: 8px;
  height: 32px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
.discussions-text014 {
  color: rgba(0, 0, 0, 0.25);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.discussions-frame-button1 {
  gap: 8px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 6px 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-content2 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.discussions-icon-search-outlined {
  width: 16px;
  height: 16px;
}
.discussions-avatar-button {
  gap: 16px;
  display: flex;
  align-items: center;
}
.discussions-frame-button2 {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.discussions-content3 {
  gap: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.discussions-icon-global-outlined {
  width: 16px;
  height: 16px;
}
.discussions-text016 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.discussions-notifications {
  gap: 8px;
  display: flex;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-icon-bell-outlined {
  width: 16px;
  height: 16px;
}
.discussions-content4 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.discussions-frame-badge-basic {
  height: 14px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 77, 79, 1);
}
.discussions-text018 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.discussions-navlink6 {
  display: contents;
}
.discussions-frame-avatar {
  gap: 8px;
  display: flex;
  padding: 7px;
  align-items: flex-start;
  border-radius: 96px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.25);
}
.discussions-icon-user-outlined {
  width: 18px;
  height: 18px;
}
.discussions-frame-card1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
.discussions-header-button {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
}
.discussions-header-links {
  gap: 8px;
  width: 1128px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.discussions-frame-breadcrumb {
  display: flex;
  align-items: center;
}
.discussions-breadcrumb-link {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  border-radius: 4px;
}
.discussions-text020 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.discussions-breadcrumb-separator {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  overflow: hidden;
  align-items: center;
}
.discussions-content5 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.discussions-text022 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.discussions-breadcrumb-link1 {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  border-radius: 4px;
}
.discussions-text023 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.discussions-frame-title1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-text025 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.discussions-frame295 {
  width: 1128px;
  height: 886.04736328125px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-frame1 {
  top: -0.000244140625px;
  left: 0px;
  width: 1128px;
  height: 886.04736328125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 26.698225021362305px 2.5029585361480713px 0 26.698225021362305px;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-remixiconslinesystemapps2line {
  top: 82.59765625px;
  left: 198.56805419921875px;
  width: 20px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group01 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-rectangle35 {
  top: 544.8101806640625px;
  left: 568.1715698242188px;
  width: 244px;
  height: 43px;
  position: absolute;
}
.discussions-text027 {
  top: 33.37255096435547px;
  left: 33.372779846191406px;
  color: rgba(170, 174, 183, 1);
  height: auto;
  position: absolute;
  font-size: 11.680473327636719px;
  font-style: Regular;
  text-align: left;
  font-family: Mulish;
  font-weight: 400;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text028 {
  font-weight: 400;
}
.discussions-text029 {
  color: var(--dl-color-default-silver3);
}
.discussions-frame107 {
  top: -0.000244140625px;
  left: 0px;
  width: 298px;
  height: 886.04736328125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1.668639063835144px 4.171597480773926px 0px rgba(0, 0, 0, 0.07000000029802322) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 26.698225021362305px;
  background-color: var(--dl-color-default-white);
}
.discussions-remixiconslinesystemapps2line1 {
  top: 82.59765625px;
  left: 277.828369140625px;
  width: 20px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group02 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-frame80 {
  gap: 280.33135986328125px;
  top: 295.3486328125px;
  left: 211.08282470703125px;
  width: 370px;
  height: 21.69230842590332px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-rectangle351 {
  top: 544.8101806640625px;
  left: 647.4319458007812px;
  width: 244px;
  height: 43px;
  position: absolute;
}
.discussions-rectangle36 {
  top: 439.6859130859375px;
  left: 913.5798950195312px;
  width: 259px;
  height: 393px;
  position: absolute;
  border-radius: 23.360946655273438px;
}
.discussions-group85 {
  top: 69.248046875px;
  left: 39.2130126953125px;
  width: 285.3372802734375px;
  height: 65.7219009399414px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-text031 {
  color: var(--dl-color-default-lmstext);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 15.017751693725586px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 21.69230842590332px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-group80 {
  top: 35.87525177001953px;
  left: 0.000005056166628492065px;
  width: 237.78106689453125px;
  height: 29.846649169921875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-frame29 {
  gap: 122.64497375488281px;
  top: 10.846648216247559px;
  left: 0.000005056166628492065px;
  width: 218.5917205810547px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
.discussions-text033 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text034 {
  font-weight: 700;
}
.discussions-text036 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-group7 {
  top: 0px;
  left: 0px;
  width: 237.78106689453125px;
  height: 4.171597480773926px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(232, 230, 254, 1);
}
.discussions-rectangle24 {
  top: 0px;
  left: 0px;
  width: 76px;
  height: 4px;
  position: absolute;
  border-radius: 6.674556255340576px;
}
.discussions-remixiconslinesystemcheckline {
  top: 116.8046875px;
  left: 314.5384521484375px;
  width: 20px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group03 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-frame82 {
  gap: 47.55621337890625px;
  top: 671.6267700195312px;
  left: 43.3846435546875px;
  width: 237px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-text038 {
  color: var(--dl-color-default-silver);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame11 {
  gap: 8.343194961547852px;
  width: 24.195266723632812px;
  height: 24.195266723632812px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.674556255340576px;
  justify-content: center;
  background-color: rgba(207, 207, 207, 1);
}
.discussions-remixiconslinesystemlock2line {
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group04 {
  top: 0px;
  left: 0px;
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector04 {
  top: 0.6257396340370178px;
  left: 1.8772189617156982px;
  width: 11px;
  height: 13px;
  position: absolute;
}
.discussions-frame83 {
  gap: 47.55621337890625px;
  top: 736.7036743164062px;
  left: 43.3846435546875px;
  width: 239px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-text040 {
  color: var(--dl-color-default-silver);
  width: 167px;
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame111 {
  gap: 8.343194961547852px;
  width: 24.195266723632812px;
  height: 24.195266723632812px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.674556255340576px;
  justify-content: center;
  background-color: rgba(207, 207, 207, 1);
}
.discussions-remixiconslinesystemlock2line1 {
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group05 {
  top: 0px;
  left: 0px;
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector05 {
  top: 0.6257396340370178px;
  left: 1.8772189617156982px;
  width: 11px;
  height: 13px;
  position: absolute;
}
.discussions-frame84 {
  gap: 47.55621337890625px;
  top: 820.9699096679688px;
  left: 43.3846435546875px;
  width: 239px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-text042 {
  color: var(--dl-color-default-silver);
  width: 167px;
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame112 {
  gap: 8.343194961547852px;
  width: 24.195266723632812px;
  height: 24.195266723632812px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.674556255340576px;
  justify-content: center;
  background-color: rgba(207, 207, 207, 1);
}
.discussions-remixiconslinesystemlock2line2 {
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group06 {
  top: 0px;
  left: 0px;
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector06 {
  top: 0.6257396340370178px;
  left: 1.8772189617156982px;
  width: 11px;
  height: 13px;
  position: absolute;
}
.discussions-line5 {
  top: 715.845703125px;
  left: 36.7100830078125px;
  width: 254px;
  height: 1px;
  position: absolute;
}
.discussions-line6 {
  top: 812.6267700195312px;
  left: 36.7100830078125px;
  width: 254px;
  height: 1px;
  position: absolute;
}
.discussions-remixiconslinesystemcheckline1 {
  top: 187.7216796875px;
  left: 12.5147705078125px;
  width: 20px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group07 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector07 {
  top: 4.987992286682129px;
  left: 3.033574342727661px;
  width: 14px;
  height: 10px;
  position: absolute;
}
.discussions-remixiconslinesystemcheckline2 {
  top: 427.1711120605469px;
  left: 12.5147705078125px;
  width: 20px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group08 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector08 {
  top: 4.987992286682129px;
  left: 3.033574342727661px;
  width: 14px;
  height: 10px;
  position: absolute;
}
.discussions-text044 {
  top: 152.67999267578125px;
  left: 42.55029296875px;
  color: var(--dl-color-default-active);
  height: auto;
  position: absolute;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: underline;
}
.discussions-rectangle19 {
  top: 167.69775390625px;
  left: 297.8520812988281px;
  width: 59px;
  height: 7px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 3.337278127670288px;
}
.discussions-frame134 {
  gap: 6.674556255340576px;
  top: 44.21844482421875px;
  left: 356.2544250488281px;
  width: 194px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.discussions-rectangle241 {
  width: 33px;
  height: 4px;
  border-radius: 6.674556255340576px;
}
.discussions-rectangle48 {
  width: 33px;
  height: 4px;
  box-sizing: content-box;
  border-color: rgba(232, 230, 254, 1);
  border-style: solid;
  border-width: 2.5029585361480713px;
  border-radius: 6.674556255340576px;
}
.discussions-rectangle49 {
  width: 33px;
  height: 4px;
  border-radius: 6.674556255340576px;
}
.discussions-rectangle50 {
  width: 33px;
  height: 4px;
  border-radius: 6.674556255340576px;
}
.discussions-rectangle52 {
  width: 33px;
  height: 4px;
  border-radius: 6.674556255340576px;
}
.discussions-frame124 {
  gap: 513.1065063476562px;
  top: 65.9107666015625px;
  left: 33.372802734375px;
  width: 248px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
.discussions-line51 {
  top: 210.248046875px;
  left: 730.8638916015625px;
  width: 362px;
  height: 1px;
  position: absolute;
}
.discussions-frame3 {
  gap: 26.698225021362305px;
  top: 760.89892578125px;
  left: -45.05322265625px;
  width: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.discussions-frame31 {
  gap: 6.674556255340576px;
  display: flex;
  align-items: center;
}
.discussions-remixiconslinesystemloginboxline {
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group09 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-frame32 {
  gap: 6.674556255340576px;
  display: flex;
  align-items: center;
}
.discussions-remixiconslinesystemquestionline {
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group10 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-frame87 {
  gap: 20.857988357543945px;
  top: 543.1415405273438px;
  left: 352.0828552246094px;
  width: 647px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-frame81 {
  gap: 26.698225021362305px;
  display: flex;
  align-items: center;
}
.discussions-text046 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text048 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text050 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text052 {
  color: rgba(0, 122, 255, 1);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text054 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-group851 {
  width: 144px;
  height: 48.390533447265625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-component1 {
  top: 0px;
  left: 0px;
  width: 143.50296020507812px;
  height: 48.390533447265625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-rectangle27 {
  top: 0.000244140625px;
  left: 0px;
  width: 144px;
  height: 48px;
  position: absolute;
  border-radius: 13.349112510681152px;
}
.discussions-text056 {
  top: 15.852294921875px;
  left: 17.520751953125px;
  color: rgba(255, 255, 255, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: center;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-rectangle25 {
  top: 578px;
  left: 659px;
  width: 86px;
  height: 2px;
  position: absolute;
  border-radius: 6.674556255340576px;
}
.discussions-line4 {
  top: 604.8811645507812px;
  left: 351.24853515625px;
  width: 674px;
  height: 1px;
  position: absolute;
}
.discussions-frame841 {
  gap: -1.668639063835144px;
  top: 185.21844482421875px;
  left: 39.2130126953125px;
  width: 257px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.discussions-frame133 {
  gap: 13.349112510681152px;
  width: 257.3875732421875px;
  height: 243.62130737304688px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.discussions-group83 {
  top: -0.0006103515625px;
  left: 0px;
  width: 257.3875732421875px;
  height: 243.62130737304688px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-line52 {
  top: 215.25445556640625px;
  left: 3.3372802734375px;
  width: 254px;
  height: 1px;
  position: absolute;
}
.discussions-frame821 {
  gap: 77.59171295166016px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-text058 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame113 {
  gap: 8.343194961547852px;
  width: 24.195266723632812px;
  height: 24.195266723632812px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.674556255340576px;
  justify-content: center;
  background-color: rgba(22, 119, 255, 1);
}
.discussions-remixiconslinesystemarrowrightsline {
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group11 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector09 {
  top: 4.702213287353516px;
  left: 6.859508037567139px;
  width: 6px;
  height: 11px;
  position: absolute;
}
.discussions-frame132 {
  gap: 20.02366828918457px;
  top: 37.54438781738281px;
  left: 0px;
  width: 246.124267578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.discussions-frame822 {
  gap: 13.349112510681152px;
  width: 221.9290008544922px;
  height: 206.07691955566406px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.discussions-frame823 {
  gap: 10.011834144592285px;
  top: 0.000005688187684427248px;
  left: -5.840231418609619px;
  width: 249px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.discussions-text060 {
  color: var(--dl-color-default-lmstext);
  width: 222px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame130 {
  width: 249.46153259277344px;
  height: 30.035503387451172px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 13.349112510681152px;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-text062 {
  top: -0.000008848292054608464px;
  left: 13.349090576171875px;
  color: var(--dl-color-default-lmstext);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text064 {
  color: var(--dl-color-default-lmstext);
  width: 221px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text066 {
  color: var(--dl-color-default-lmstext);
  width: 221px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-group831 {
  width: 257px;
  height: 256.1361083984375px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-line53 {
  top: 225.26626586914062px;
  left: 3.337283134460449px;
  width: 254px;
  height: 1px;
  position: absolute;
}
.discussions-frame824 {
  gap: 37.54438018798828px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-text068 {
  color: var(--dl-color-default-lmstext);
  width: 179px;
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame114 {
  gap: 8.343194961547852px;
  width: 24.195266723632812px;
  height: 24.195266723632812px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.674556255340576px;
  justify-content: center;
  background-color: rgba(22, 119, 255, 1);
}
.discussions-remixiconslinesystemarrowrightsline1 {
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group12 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector10 {
  top: 4.702213287353516px;
  left: 6.859508037567139px;
  width: 6px;
  height: 11px;
  position: absolute;
}
.discussions-frame1321 {
  gap: 20.02366828918457px;
  top: 50.059165954589844px;
  left: 0.000005056166628492065px;
  width: 246.124267578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.discussions-frame825 {
  gap: 13.349112510681152px;
  width: 221.9290008544922px;
  height: 206.07691955566406px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.discussions-frame826 {
  gap: 10.011834144592285px;
  top: 6.771651896997355e-7px;
  left: -5.840231418609619px;
  width: 249px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.discussions-text070 {
  color: var(--dl-color-default-lmstext);
  width: 222px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame1301 {
  width: 249.46153259277344px;
  height: 42.550296783447266px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 1.668639063835144px 4.171597480773926px 0px rgba(0, 0, 0, 0.07000000029802322) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 13.349112510681152px;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-text072 {
  top: -0.00029754638671875px;
  left: 13.34912109375px;
  color: var(--dl-color-default-active);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text074 {
  color: var(--dl-color-default-silver);
  width: 221px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text076 {
  color: var(--dl-color-default-silver);
  width: 221px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text078 {
  top: 621.5675659179688px;
  left: 351.24853515625px;
  color: var(--dl-color-default-lmstext);
  height: auto;
  position: absolute;
  font-size: 15.017751693725586px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 21.69230842590332px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame137 {
  gap: 8.343194961547852px;
  top: 621.5675659179688px;
  left: 893.5562133789062px;
  width: 125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.discussions-remixiconslineeditorsortdesc {
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group13 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector11 {
  top: 3.337278127670288px;
  left: 2.5029585361480713px;
  width: 17px;
  height: 14px;
  position: absolute;
}
.discussions-text080 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Regular;
  text-align: left;
  font-family: Mulish;
  font-weight: 400;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-rectangle54 {
  top: 719.1829833984375px;
  left: 342.0710144042969px;
  width: 673px;
  height: 151px;
  position: absolute;
  border-radius: 10.011834144592285px;
}
.discussions-frame138 {
  gap: 13.349112510681152px;
  top: 663.2835693359375px;
  left: 351.24853515625px;
  width: 664px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-frame6 {
  width: 26.698225021362305px;
  height: 26.698225021362305px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-ellipse1 {
  top: -0.000274658203125px;
  left: -0.0000152587890625px;
  width: 27px;
  height: 27px;
  position: absolute;
}
.discussions-group12 {
  width: 624px;
  height: 33.372779846191406px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-text082 {
  top: 10.428985595703125px;
  left: 21.88055419921875px;
  color: var(--dl-color-default-silver);
  width: 360px;
  height: auto;
  position: absolute;
  font-size: 11.680473327636719px;
  font-style: Regular;
  text-align: left;
  font-family: Mulish;
  font-weight: 400;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame140 {
  gap: 20.02366828918457px;
  top: 730.8634033203125px;
  left: 351.24853515625px;
  width: 195px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-frame139 {
  gap: 8.343194961547852px;
  display: flex;
  align-items: center;
}
.discussions-ellipse11 {
  width: 27px;
  height: 27px;
}
.discussions-text084 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text086 {
  color: var(--dl-color-default-silver);
  height: auto;
  font-size: 9.177515029907227px;
  font-style: Regular;
  text-align: left;
  font-family: Mulish;
  font-weight: 400;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text088 {
  top: 765.070556640625px;
  left: 389.6272277832031px;
  color: rgba(0, 0, 0, 1);
  width: 498px;
  height: auto;
  position: absolute;
  font-size: 11.680473327636719px;
  font-style: Regular;
  text-align: left;
  font-family: Mulish;
  font-weight: 400;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame102 {
  gap: 21.69230842590332px;
  top: 830.1474609375px;
  left: 391.2958679199219px;
  width: 335px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-text090 {
  color: var(--dl-color-default-active);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text092 {
  color: var(--dl-color-default-active);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text094 {
  color: var(--dl-color-default-active);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-text096 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame1021 {
  gap: 6.674556255340576px;
  top: 830.1474609375px;
  left: 915.24853515625px;
  width: 35px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-remixiconsfillcommunicationchatsmile3fill {
  width: 13.349112510681152px;
  height: 13.349112510681152px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group14 {
  top: 0px;
  left: 0px;
  width: 13.349112510681152px;
  height: 13.349112510681152px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector12 {
  top: 1.112154483795166px;
  left: 1.1124600172042847px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.discussions-text098 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame142 {
  gap: 6.674556255340576px;
  top: 830.1474609375px;
  left: 961.1361083984375px;
  width: 35px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-remixiconsfilluserteamfill {
  width: 13.349112510681152px;
  height: 13.349112510681152px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group15 {
  top: 0px;
  left: 0px;
  width: 13.349112510681152px;
  height: 13.349112510681152px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector13 {
  top: 1.112154483795166px;
  left: 1.1124600172042847px;
  width: 11px;
  height: 11px;
  position: absolute;
}
.discussions-text100 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-frame141 {
  gap: 6.674556255340576px;
  top: 830.1474609375px;
  left: 869.3609619140625px;
  width: 35px;
  display: flex;
  position: absolute;
  align-items: center;
}
.discussions-remixiconsfillhealthheartfill {
  width: 13.349112510681152px;
  height: 13.349112510681152px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.discussions-group16 {
  top: 0px;
  left: 0px;
  width: 13.349112510681152px;
  height: 13.349112510681152px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-vector14 {
  top: 1.668639063835144px;
  left: 1.1124600172042847px;
  width: 11px;
  height: 10px;
  position: absolute;
}
.discussions-text102 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-group86 {
  top: 88.4373779296875px;
  left: 352.0828552246094px;
  width: 674.1301879882812px;
  height: 434.5755310058594px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-text104 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  position: absolute;
  font-size: 20.02366828918457px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 26.698225021362305px;
  font-stretch: normal;
  text-decoration: none;
}
.discussions-group79 {
  top: 53.39646530151367px;
  left: -0.000014987923350417987px;
  width: 674.1301879882812px;
  height: 381.1790771484375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.discussions-rectangle46 {
  top: 0px;
  left: 0px;
  width: 674px;
  height: 381px;
  position: absolute;
  border-radius: 13.349112510681152px;
}
.discussions-frame-footer1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.discussions-content-wrapper1 {
  gap: 223px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.discussions-content-wrapper2 {
  gap: 48px;
  display: flex;
  align-items: flex-end;
}
.discussions-text106 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.discussions-text108 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.discussions-text110 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.discussions-text112 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.discussions-text114 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 1201px;
  height: auto;
  align-self: stretch;
  text-align: right;
  line-height: 22px;
}
