.mycourses-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mycourses-mycourses {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-frame-admin-panel-menu1 {
  height: 1077.4237060546875px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-frame-admin-panel-menu11 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-logo {
  gap: 8px;
  display: flex;
  padding: 16px 16px 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-logo1 {
  gap: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mycourses-frame1000002598 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-container-logo {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 4.800000190734863px;
}
.mycourses-book4 {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14.40000057220459px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-group {
  top: 1.2000000476837158px;
  left: 1.2000000476837158px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourses-vector {
  top: 1.7998048067092896px;
  left: 2.4000489711761475px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.mycourses-vector1 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.mycourses-vector2 {
  top: 5.399805068969727px;
  left: 3.000049114227295px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.mycourses-vector3 {
  top: 8.999805450439453px;
  left: 2.4000489711761475px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.mycourses-frame-title {
  gap: 8px;
  display: flex;
  align-items: center;
}
.mycourses-text {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.mycourses-frame-menu {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-menu-items {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourses-navlink {
  display: contents;
}
.mycourses-menu-item-inline-navigation-item {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.mycourses-icon-dashboard-outlined {
  width: 16px;
  height: 16px;
}
.mycourses-text02 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 184px;
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourses-navlink1 {
  display: contents;
}
.mycourses-menu-item-inline-navigation-item1 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgba(186, 224, 255, 1);
}
.mycourses-icon-database-outlined {
  width: 16px;
  height: 16px;
}
.mycourses-text04 {
  color: rgba(9, 88, 217, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.mycourses-navlink2 {
  display: contents;
}
.mycourses-menu-item-inline-navigation-item2 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.mycourses-icon-bar-chart-outlined {
  width: 16px;
  height: 16px;
}
.mycourses-text06 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.mycourses-navlink3 {
  display: contents;
}
.mycourses-menu-item-inline-navigation-item3 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.mycourses-icon-calendar-outlined {
  width: 16px;
  height: 16px;
}
.mycourses-text08 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.mycourses-menu-submenu {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourses-navlink4 {
  display: contents;
}
.mycourses-menu-item-inline-submenu-title {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.mycourses-icon-file-text-outlined {
  width: 16px;
  height: 16px;
}
.mycourses-text10 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.mycourses-icon-down-outlined {
  width: 12px;
  height: 12px;
}
.mycourses-menu-items1 {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourses-navlink5 {
  display: contents;
}
.mycourses-menu-item-inline-navigation-item4 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.mycourses-icon-setting-outlined {
  width: 16px;
  height: 16px;
}
.mycourses-text12 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.mycourses-content-wrapper {
  width: 1176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.mycourses-frame-header {
  gap: 8px;
  display: flex;
  padding: 8px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-icon-search {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.mycourses-frame-button {
  gap: 8px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.mycourses-content {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mycourses-icon-menu-fold-outlined {
  width: 16px;
  height: 16px;
}
.mycourses-frame-input-search {
  width: 348px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-input-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 6px 0 0 6px;
}
.mycourses-frame-input-basic {
  gap: 10px;
  display: flex;
  padding: 0 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
}
.mycourses-content1 {
  gap: 8px;
  height: 32px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
.mycourses-text14 {
  color: rgba(0, 0, 0, 0.25);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.mycourses-frame-button1 {
  gap: 8px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 6px 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-content2 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mycourses-icon-search-outlined {
  width: 16px;
  height: 16px;
}
.mycourses-avatar-button {
  gap: 16px;
  display: flex;
  align-items: center;
}
.mycourses-frame-button2 {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.mycourses-content3 {
  gap: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mycourses-icon-global-outlined {
  width: 16px;
  height: 16px;
}
.mycourses-text16 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourses-notifications {
  gap: 8px;
  display: flex;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-icon-bell-outlined {
  width: 16px;
  height: 16px;
}
.mycourses-content4 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mycourses-frame-badge-basic {
  height: 14px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 77, 79, 1);
}
.mycourses-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.mycourses-navlink6 {
  display: contents;
}
.mycourses-frame-avatar {
  gap: 8px;
  display: flex;
  padding: 7px;
  align-items: flex-start;
  border-radius: 96px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.25);
}
.mycourses-icon-user-outlined {
  width: 18px;
  height: 18px;
}
.mycourses-frame-card1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
.mycourses-header-button {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
}
.mycourses-header-links {
  gap: 8px;
  width: 1128px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.mycourses-frame-title1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-text20 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.mycourses-content-wrapper1 {
  gap: 8px;
  display: flex;
  padding: 16px 0;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-gridwith-search {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourses-buttons {
  gap: 24px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourses-frame-input-search1 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-input-wrapper1 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 6px 0 0 6px;
}
.mycourses-frame-input-basic1 {
  gap: 10px;
  display: flex;
  padding: 0 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
}
.mycourses-content5 {
  gap: 8px;
  height: 32px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
.mycourses-text22 {
  color: rgba(0, 0, 0, 0.25);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.mycourses-frame-button3 {
  gap: 8px;
  display: flex;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-radius: 0 6px 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(22, 119, 255, 1);
}
.mycourses-content6 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mycourses-icon-search-outlined1 {
  width: 16px;
  height: 16px;
}
.mycourses-svg-divider-horizontal {
  width: 1096px;
  height: 1px;
  align-self: stretch;
}
.mycourses-frame-table {
  gap: 24px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
.mycourses-content-wrapper2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourses-frame162 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourses-frame1000002616 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.mycourses-frame6356489 {
  gap: 12.855236053466797px;
  width: 350px;
  display: flex;
  padding: 12.855236053466797px;
  box-shadow: 5.356348037719727px 5.356348037719727px 26.78173828125px 0px rgba(95, 95, 95, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(189, 189, 189, 1);
  border-style: solid;
  border-width: 1.0712696313858032px;
  border-radius: 9.641427040100098px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-frame6356483 {
  gap: 8px;
  width: 318px;
  height: 168px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-size: cover;
  background-image: url("/external/tq_vft83j5rgi-wnq-400w.png");
}
.mycourses-frame6356475 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 318px;
  height: 168px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.mycourses-frame6356481 {
  top: -0.50732421875px;
  left: 0.144775390625px;
  width: 318px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-text24 {
  color: rgba(38, 38, 38, 1);
  width: 325px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.mycourses-progress {
  width: 322px;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourses-text26 {
  color: var(--dl-color-light_textcolor-title);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.mycourses-progressbar {
  top: 21px;
  left: 0px;
  width: 322px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-progressbarcontainer {
  top: 0px;
  left: 0px;
  width: 322px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
}
.mycourses-progressbar01 {
  top: 21px;
  left: 0px;
  width: 168px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-rectangle10 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
}
.mycourses-button {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(9, 88, 217, 1);
}
.mycourses-text28 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.mycourses-frame6356491 {
  gap: 12.855236053466797px;
  width: 350px;
  display: flex;
  padding: 12.855236053466797px;
  box-shadow: 5.356348037719727px 5.356348037719727px 26.78173828125px 0px rgba(95, 95, 95, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(189, 189, 189, 1);
  border-style: solid;
  border-width: 1.0712696313858032px;
  border-radius: 9.641427040100098px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-frame63564831 {
  gap: 8px;
  width: 318px;
  height: 168px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-size: cover;
  background-image: url("/external/tq_-l6vpo-jby-sbzg-400w.png");
}
.mycourses-frame63564751 {
  gap: 10px;
  width: 318px;
  height: 168px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.mycourses-frame63564811 {
  top: -0.50732421875px;
  left: 0.144775390625px;
  width: 318px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-text30 {
  color: rgba(38, 38, 38, 1);
  width: 325px;
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.mycourses-progress1 {
  width: 322px;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourses-text32 {
  color: var(--dl-color-light_textcolor-title);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.mycourses-progressbar02 {
  top: 21px;
  left: 0px;
  width: 322px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-progressbarcontainer1 {
  top: 0px;
  left: 0px;
  width: 322px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
}
.mycourses-progressbar03 {
  top: 21px;
  left: 0px;
  width: 168px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-rectangle101 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
}
.mycourses-button1 {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(9, 88, 217, 1);
}
.mycourses-text34 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  font-size: 16px;
  font-style: Semibold;
  text-align: center;
  font-family: SF Pro Text;
  font-weight: 600;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.mycourses-frame6356493 {
  gap: 12.855236053466797px;
  width: 350px;
  display: flex;
  padding: 12.855236053466797px;
  box-shadow: 5.356348037719727px 5.356348037719727px 26.78173828125px 0px rgba(95, 95, 95, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(189, 189, 189, 1);
  border-style: solid;
  border-width: 1.0712696313858032px;
  border-radius: 9.641427040100098px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-frame63564832 {
  gap: 8px;
  width: 318px;
  height: 168px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-size: cover;
  background-image: url("/external/tq_59-7wmt71w-1e5-400w.png");
}
.mycourses-frame63564752 {
  gap: 10px;
  width: 318px;
  height: 168px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.mycourses-frame63564812 {
  top: -0.50732421875px;
  left: 0.144775390625px;
  width: 318px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-text36 {
  color: rgba(38, 38, 38, 1);
  width: 325px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.mycourses-progress2 {
  width: 322px;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourses-text38 {
  color: var(--dl-color-light_textcolor-title);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.mycourses-progressbar04 {
  top: 21px;
  left: 0px;
  width: 322px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-progressbarcontainer2 {
  top: 0px;
  left: 0px;
  width: 322px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
}
.mycourses-progressbar05 {
  top: 21px;
  left: 0px;
  width: 168px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-rectangle102 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
}
.mycourses-button2 {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(9, 88, 217, 1);
}
.mycourses-text40 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.mycourses-content-wrapper3 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourses-frame1621 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourses-frame10000026161 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.mycourses-frame6356492 {
  gap: 12.855236053466797px;
  width: 350px;
  display: flex;
  padding: 12.855236053466797px;
  box-shadow: 5.356348037719727px 5.356348037719727px 26.78173828125px 0px rgba(95, 95, 95, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(189, 189, 189, 1);
  border-style: solid;
  border-width: 1.0712696313858032px;
  border-radius: 9.641427040100098px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-frame63564833 {
  gap: 8px;
  width: 318px;
  height: 168px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-size: cover;
  background-image: url("/external/tq_8xhnfs14bs-frw-400w.png");
}
.mycourses-frame63564753 {
  gap: 10px;
  width: 318px;
  height: 168px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.mycourses-frame63564813 {
  top: -0.50732421875px;
  left: 0.144775390625px;
  width: 318px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-group1000000797 {
  top: 8.0146484375px;
  left: 7.71044921875px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourses-ellipse166 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  opacity: 0.40;
  position: absolute;
}
.mycourses-majesticonsinformationcircle {
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-group1 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourses-vector4 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.mycourses-text42 {
  color: rgba(38, 38, 38, 1);
  width: 325px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.mycourses-progress3 {
  width: 322px;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourses-text44 {
  color: var(--dl-color-light_textcolor-title);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.mycourses-progressbar06 {
  top: 21px;
  left: 0px;
  width: 322px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-progressbarcontainer3 {
  top: 0px;
  left: 0px;
  width: 322px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
}
.mycourses-progressbar07 {
  top: 21px;
  left: 0px;
  width: 168px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-rectangle103 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
}
.mycourses-button3 {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(9, 88, 217, 1);
}
.mycourses-text46 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.mycourses-frame63564911 {
  gap: 12.855236053466797px;
  width: 350px;
  display: flex;
  padding: 12.855236053466797px;
  box-shadow: 5.356348037719727px 5.356348037719727px 26.78173828125px 0px rgba(95, 95, 95, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(189, 189, 189, 1);
  border-style: solid;
  border-width: 1.0712696313858032px;
  border-radius: 9.641427040100098px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-frame63564834 {
  gap: 8px;
  width: 318px;
  height: 168px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-size: cover;
  background-image: url("/external/tq_i48upey0-i-0kf5-400w.png");
}
.mycourses-frame63564754 {
  gap: 10px;
  width: 318px;
  height: 168px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.mycourses-frame63564814 {
  top: -0.50732421875px;
  left: 0.144775390625px;
  width: 318px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-group10000007971 {
  top: 8.0146484375px;
  left: 7.71044921875px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourses-ellipse1661 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  opacity: 0.40;
  position: absolute;
}
.mycourses-majesticonsinformationcircle1 {
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-group2 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourses-vector5 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.mycourses-text48 {
  color: rgba(38, 38, 38, 1);
  width: 325px;
  height: auto;
  text-align: left;
  line-height: 24px;
}
.mycourses-progress4 {
  width: 322px;
  height: 25px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourses-text50 {
  color: var(--dl-color-light_textcolor-title);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 110.00000238418579%;
  font-stretch: normal;
  text-decoration: none;
}
.mycourses-progressbar08 {
  top: 21px;
  left: 0px;
  width: 322px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-progressbarcontainer4 {
  top: 0px;
  left: 0px;
  width: 322px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
}
.mycourses-progressbar09 {
  top: 21px;
  left: 0px;
  width: 168px;
  height: 4px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourses-rectangle104 {
  top: 0px;
  left: 0px;
  width: 168px;
  height: 4px;
  position: absolute;
  border-radius: 2px;
}
.mycourses-button4 {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(9, 88, 217, 1);
}
.mycourses-text52 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.mycourses-frame-footer1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourses-content-wrapper4 {
  gap: 223px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.mycourses-content-wrapper5 {
  gap: 48px;
  display: flex;
  align-items: flex-end;
}
.mycourses-text54 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourses-text56 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourses-text58 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourses-text60 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourses-text62 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 1201px;
  height: auto;
  align-self: stretch;
  text-align: right;
  line-height: 22px;
}
