.resources-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.resources-mycourses {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-frame-admin-panel-menu1 {
  height: 1213px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.resources-frame-admin-panel-menu11 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.resources-logo {
  gap: 8px;
  display: flex;
  padding: 16px 16px 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.resources-logo1 {
  gap: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.resources-frame1000002598 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-container-logo {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 4.800000190734863px;
}
.resources-book4 {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14.40000057220459px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group {
  top: 1.2000000476837158px;
  left: 1.2000000476837158px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-vector {
  top: 1.7998048067092896px;
  left: 2.3999879360198975px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.resources-vector01 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.resources-vector02 {
  top: 5.399805068969727px;
  left: 2.999988079071045px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.resources-vector03 {
  top: 8.999805450439453px;
  left: 2.3999879360198975px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.resources-frame-title {
  gap: 8px;
  display: flex;
  align-items: center;
}
.resources-text {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame-menu {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.resources-menu-items {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.resources-navlink {
  display: contents;
}
.resources-menu-item-inline-navigation-item {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.resources-icon-dashboard-outlined {
  width: 16px;
  height: 16px;
}
.resources-text002 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 184px;
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-navlink1 {
  display: contents;
}
.resources-menu-item-inline-navigation-item1 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgba(186, 224, 255, 1);
}
.resources-icon-database-outlined {
  width: 16px;
  height: 16px;
}
.resources-text004 {
  color: rgba(9, 88, 217, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.resources-navlink2 {
  display: contents;
}
.resources-menu-item-inline-navigation-item2 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.resources-icon-bar-chart-outlined {
  width: 16px;
  height: 16px;
}
.resources-text006 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.resources-navlink3 {
  display: contents;
}
.resources-menu-item-inline-navigation-item3 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.resources-icon-calendar-outlined {
  width: 16px;
  height: 16px;
}
.resources-text008 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.resources-menu-submenu {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.resources-navlink4 {
  display: contents;
}
.resources-menu-item-inline-submenu-title {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.resources-icon-file-text-outlined {
  width: 16px;
  height: 16px;
}
.resources-text010 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.resources-icon-down-outlined {
  width: 12px;
  height: 12px;
}
.resources-menu-items1 {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.resources-navlink5 {
  display: contents;
}
.resources-menu-item-inline-navigation-item4 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.resources-icon-setting-outlined {
  width: 16px;
  height: 16px;
}
.resources-text012 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.resources-content-wrapper {
  width: 1176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resources-frame-header {
  gap: 8px;
  display: flex;
  padding: 8px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.resources-icon-search {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.resources-frame-button {
  gap: 8px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.resources-content {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.resources-icon-menu-fold-outlined {
  width: 16px;
  height: 16px;
}
.resources-frame-input-search {
  width: 348px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.resources-input-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 6px 0 0 6px;
}
.resources-frame-input-basic {
  gap: 10px;
  display: flex;
  padding: 0 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
}
.resources-content1 {
  gap: 8px;
  height: 32px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
.resources-text014 {
  color: rgba(0, 0, 0, 0.25);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.resources-frame-button1 {
  gap: 8px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 6px 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.resources-content2 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.resources-icon-search-outlined {
  width: 16px;
  height: 16px;
}
.resources-avatar-button {
  gap: 16px;
  display: flex;
  align-items: center;
}
.resources-frame-button2 {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.resources-content3 {
  gap: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.resources-icon-global-outlined {
  width: 16px;
  height: 16px;
}
.resources-text016 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-notifications {
  gap: 8px;
  display: flex;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.resources-icon-bell-outlined {
  width: 16px;
  height: 16px;
}
.resources-content4 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.resources-frame-badge-basic {
  height: 14px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 77, 79, 1);
}
.resources-text018 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.resources-navlink6 {
  display: contents;
}
.resources-frame-avatar {
  gap: 8px;
  display: flex;
  padding: 7px;
  align-items: flex-start;
  border-radius: 96px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.25);
}
.resources-icon-user-outlined {
  width: 18px;
  height: 18px;
}
.resources-frame-card1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
.resources-header-button {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
}
.resources-header-links {
  gap: 8px;
  width: 1128px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resources-frame-breadcrumb {
  display: flex;
  align-items: center;
}
.resources-breadcrumb-link {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  border-radius: 4px;
}
.resources-text020 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-breadcrumb-separator {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  overflow: hidden;
  align-items: center;
}
.resources-content5 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.resources-text022 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-breadcrumb-link1 {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  border-radius: 4px;
}
.resources-text023 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-frame-title1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-text025 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.resources-frame295 {
  width: 1128px;
  height: 943px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-frame1 {
  top: 0px;
  left: 0px;
  width: 1128px;
  height: 965px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 26.698225021362305px 2.5029585361480713px 0 26.698225021362305px;
  background-color: rgba(255, 255, 255, 1);
}
.resources-remixiconslinesystemapps2line {
  top: 82.59765625px;
  left: 198.56805419921875px;
  width: 20px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group01 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-rectangle35 {
  top: 544.8101806640625px;
  left: 568.1715698242188px;
  width: 244px;
  height: 43px;
  position: absolute;
}
.resources-text027 {
  top: 33.37255096435547px;
  left: 33.372779846191406px;
  color: rgba(170, 174, 183, 1);
  height: auto;
  position: absolute;
  font-size: 11.680473327636719px;
  font-style: Regular;
  text-align: left;
  font-family: Mulish;
  font-weight: 400;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-text028 {
  font-weight: 400;
}
.resources-text029 {
  color: var(--dl-color-default-silver3);
}
.resources-frame107 {
  top: -0.000244140625px;
  left: 0px;
  width: 298px;
  height: 886.04736328125px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-shadow: 0px 1.668639063835144px 4.171597480773926px 0px rgba(0, 0, 0, 0.07000000029802322) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 26.698225021362305px;
  background-color: var(--dl-color-default-white);
}
.resources-remixiconslinesystemapps2line1 {
  top: 82.59765625px;
  left: 277.828369140625px;
  width: 20px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group02 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-frame80 {
  gap: 280.33135986328125px;
  top: 295.3486328125px;
  left: 211.08282470703125px;
  width: 370px;
  height: 21.69230842590332px;
  display: flex;
  position: absolute;
  align-items: center;
}
.resources-rectangle351 {
  top: 544.8101806640625px;
  left: 647.4319458007812px;
  width: 244px;
  height: 43px;
  position: absolute;
}
.resources-rectangle36 {
  top: 439.6859130859375px;
  left: 913.5798950195312px;
  width: 259px;
  height: 393px;
  position: absolute;
  border-radius: 23.360946655273438px;
}
.resources-group85 {
  top: 69.248046875px;
  left: 39.2130126953125px;
  width: 285.3372802734375px;
  height: 65.7219009399414px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-text031 {
  color: var(--dl-color-default-lmstext);
  width: 285px;
  height: auto;
  position: absolute;
  font-size: 15.017751693725586px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 21.69230842590332px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-group80 {
  top: 35.87525177001953px;
  left: 0.000005056166628492065px;
  width: 237.78106689453125px;
  height: 29.846649169921875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-frame29 {
  gap: 122.64497375488281px;
  top: 10.846648216247559px;
  left: 0.000005056166628492065px;
  width: 218.5917205810547px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
.resources-text033 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-text034 {
  font-weight: 700;
}
.resources-text036 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-group7 {
  top: 0px;
  left: 0px;
  width: 237.78106689453125px;
  height: 4.171597480773926px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(232, 230, 254, 1);
}
.resources-rectangle24 {
  top: 0px;
  left: 0px;
  width: 76px;
  height: 4px;
  position: absolute;
  border-radius: 6.674556255340576px;
}
.resources-remixiconslinesystemcheckline {
  top: 116.8046875px;
  left: 314.5384521484375px;
  width: 20px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group03 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-frame82 {
  gap: 47.55621337890625px;
  top: 671.6267700195312px;
  left: 43.3846435546875px;
  width: 237px;
  display: flex;
  position: absolute;
  align-items: center;
}
.resources-text038 {
  color: var(--dl-color-default-silver);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame11 {
  gap: 8.343194961547852px;
  width: 24.195266723632812px;
  height: 24.195266723632812px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.674556255340576px;
  justify-content: center;
  background-color: rgba(207, 207, 207, 1);
}
.resources-remixiconslinesystemlock2line {
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group04 {
  top: 0px;
  left: 0px;
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-vector04 {
  top: 0.6257396340370178px;
  left: 1.8772189617156982px;
  width: 11px;
  height: 13px;
  position: absolute;
}
.resources-frame83 {
  gap: 47.55621337890625px;
  top: 736.7036743164062px;
  left: 43.3846435546875px;
  width: 239px;
  display: flex;
  position: absolute;
  align-items: center;
}
.resources-text040 {
  color: var(--dl-color-default-silver);
  width: 167px;
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame111 {
  gap: 8.343194961547852px;
  width: 24.195266723632812px;
  height: 24.195266723632812px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.674556255340576px;
  justify-content: center;
  background-color: rgba(207, 207, 207, 1);
}
.resources-remixiconslinesystemlock2line1 {
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group05 {
  top: 0px;
  left: 0px;
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-vector05 {
  top: 0.6257396340370178px;
  left: 1.8772189617156982px;
  width: 11px;
  height: 13px;
  position: absolute;
}
.resources-frame84 {
  gap: 47.55621337890625px;
  top: 820.9699096679688px;
  left: 43.3846435546875px;
  width: 239px;
  display: flex;
  position: absolute;
  align-items: center;
}
.resources-text042 {
  color: var(--dl-color-default-silver);
  width: 167px;
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame112 {
  gap: 8.343194961547852px;
  width: 24.195266723632812px;
  height: 24.195266723632812px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.674556255340576px;
  justify-content: center;
  background-color: rgba(207, 207, 207, 1);
}
.resources-remixiconslinesystemlock2line2 {
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group06 {
  top: 0px;
  left: 0px;
  width: 15.017751693725586px;
  height: 15.017751693725586px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-vector06 {
  top: 0.6257396340370178px;
  left: 1.8772189617156982px;
  width: 11px;
  height: 13px;
  position: absolute;
}
.resources-line5 {
  top: 715.845703125px;
  left: 36.7100830078125px;
  width: 254px;
  height: 1px;
  position: absolute;
}
.resources-line6 {
  top: 812.6267700195312px;
  left: 36.7100830078125px;
  width: 254px;
  height: 1px;
  position: absolute;
}
.resources-remixiconslinesystemcheckline1 {
  top: 187.7216796875px;
  left: 12.5147705078125px;
  width: 20px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group07 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-vector07 {
  top: 4.987992286682129px;
  left: 3.033574342727661px;
  width: 14px;
  height: 10px;
  position: absolute;
}
.resources-remixiconslinesystemcheckline2 {
  top: 427.1711120605469px;
  left: 12.5147705078125px;
  width: 20px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group08 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-vector08 {
  top: 4.987992286682129px;
  left: 3.033574342727661px;
  width: 14px;
  height: 10px;
  position: absolute;
}
.resources-text044 {
  top: 152.67999267578125px;
  left: 42.55029296875px;
  color: rgba(22, 119, 255, 1);
  height: auto;
  position: absolute;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: underline;
}
.resources-rectangle19 {
  top: 167.69775390625px;
  left: 297.8520812988281px;
  width: 59px;
  height: 7px;
  position: absolute;
  box-sizing: content-box;
  border-radius: 3.337278127670288px;
}
.resources-frame134 {
  gap: 6.674556255340576px;
  top: 44.21844482421875px;
  left: 356.2544250488281px;
  width: 194px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.resources-rectangle241 {
  width: 33px;
  height: 4px;
  border-radius: 6.674556255340576px;
}
.resources-rectangle48 {
  width: 33px;
  height: 4px;
  box-sizing: content-box;
  border-color: rgba(232, 230, 254, 1);
  border-style: solid;
  border-width: 2.5029585361480713px;
  border-radius: 6.674556255340576px;
}
.resources-rectangle49 {
  width: 33px;
  height: 4px;
  border-radius: 6.674556255340576px;
}
.resources-rectangle50 {
  width: 33px;
  height: 4px;
  border-radius: 6.674556255340576px;
}
.resources-rectangle52 {
  width: 33px;
  height: 4px;
  border-radius: 6.674556255340576px;
}
.resources-frame124 {
  gap: 513.1065063476562px;
  top: 65.9107666015625px;
  left: 33.372802734375px;
  width: 248px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
}
.resources-line51 {
  top: 210.248046875px;
  left: 730.8638916015625px;
  width: 362px;
  height: 1px;
  position: absolute;
}
.resources-frame3 {
  gap: 26.698225021362305px;
  top: 760.89892578125px;
  left: -45.05322265625px;
  width: 20px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.resources-frame31 {
  gap: 6.674556255340576px;
  display: flex;
  align-items: center;
}
.resources-remixiconslinesystemloginboxline {
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group09 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-frame32 {
  gap: 6.674556255340576px;
  display: flex;
  align-items: center;
}
.resources-remixiconslinesystemquestionline {
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group10 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-frame87 {
  gap: 20.857988357543945px;
  top: 543.1415405273438px;
  left: 352.0828552246094px;
  width: 639px;
  display: flex;
  position: absolute;
  align-items: center;
}
.resources-frame81 {
  gap: 26.698225021362305px;
  display: flex;
  align-items: center;
}
.resources-text046 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-text048 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-text050 {
  color: rgba(0, 122, 255, 1);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-text052 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-text054 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-group851 {
  width: 144px;
  height: 48.390533447265625px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-component1 {
  top: 0px;
  left: 0px;
  width: 143.50296020507812px;
  height: 48.390533447265625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-rectangle27 {
  top: 0.000244140625px;
  left: 0px;
  width: 144px;
  height: 48px;
  position: absolute;
  border-radius: 13.349112510681152px;
}
.resources-text056 {
  top: 15.852294921875px;
  left: 17.520751953125px;
  color: rgba(255, 255, 255, 1);
  width: 109px;
  height: auto;
  position: absolute;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: center;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-rectangle25 {
  top: 578px;
  left: 559px;
  width: 86px;
  height: 2px;
  position: absolute;
  border-radius: 6.674556255340576px;
}
.resources-line4 {
  top: 604.8811645507812px;
  left: 351.24853515625px;
  width: 674px;
  height: 1px;
  position: absolute;
}
.resources-frame841 {
  gap: -1.668639063835144px;
  top: 185.21844482421875px;
  left: 39.2130126953125px;
  width: 257px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
.resources-frame133 {
  gap: 13.349112510681152px;
  width: 257.3875732421875px;
  height: 243.62130737304688px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.resources-group83 {
  top: -0.0006103515625px;
  left: 0px;
  width: 257.3875732421875px;
  height: 243.62130737304688px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-line52 {
  top: 215.25445556640625px;
  left: 3.3372802734375px;
  width: 254px;
  height: 1px;
  position: absolute;
}
.resources-frame821 {
  gap: 77.59171295166016px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: center;
}
.resources-text058 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame113 {
  gap: 8.343194961547852px;
  width: 24.195266723632812px;
  height: 24.195266723632812px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.674556255340576px;
  justify-content: center;
  background-color: rgba(22, 119, 255, 1);
}
.resources-remixiconslinesystemarrowrightsline {
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group11 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-vector09 {
  top: 4.702213287353516px;
  left: 6.859508037567139px;
  width: 6px;
  height: 11px;
  position: absolute;
}
.resources-frame132 {
  gap: 20.02366828918457px;
  top: 37.54438781738281px;
  left: 0px;
  width: 246.124267578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resources-frame822 {
  gap: 13.349112510681152px;
  width: 221.9290008544922px;
  height: 206.07691955566406px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.resources-frame823 {
  gap: 10.011834144592285px;
  top: 0.000005688187684427248px;
  left: -5.840231418609619px;
  width: 249px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.resources-text060 {
  color: var(--dl-color-default-lmstext);
  width: 222px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame130 {
  width: 249.46153259277344px;
  height: 30.035503387451172px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 13.349112510681152px;
  background-color: rgba(255, 255, 255, 1);
}
.resources-text062 {
  top: -0.000008848292054608464px;
  left: 13.349090576171875px;
  color: var(--dl-color-default-lmstext);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-text064 {
  color: var(--dl-color-default-lmstext);
  width: 221px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-text066 {
  color: var(--dl-color-default-lmstext);
  width: 221px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-group831 {
  width: 257px;
  height: 256.1361083984375px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-line53 {
  top: 225.26626586914062px;
  left: 3.337283134460449px;
  width: 254px;
  height: 1px;
  position: absolute;
}
.resources-frame824 {
  gap: 37.54438018798828px;
  top: 0px;
  left: 0px;
  display: flex;
  position: absolute;
  align-items: center;
}
.resources-text068 {
  color: var(--dl-color-default-lmstext);
  width: 179px;
  height: auto;
  font-size: 13.349112510681152px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame114 {
  gap: 8.343194961547852px;
  width: 24.195266723632812px;
  height: 24.195266723632812px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6.674556255340576px;
  justify-content: center;
  background-color: rgba(22, 119, 255, 1);
}
.resources-remixiconslinesystemarrowrightsline1 {
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group12 {
  top: 0px;
  left: 0px;
  width: 20.02366828918457px;
  height: 20.02366828918457px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-vector10 {
  top: 4.702213287353516px;
  left: 6.859508037567139px;
  width: 6px;
  height: 11px;
  position: absolute;
}
.resources-frame1321 {
  gap: 20.02366828918457px;
  top: 50.059165954589844px;
  left: 0.000005056166628492065px;
  width: 246.124267578125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.resources-frame825 {
  gap: 13.349112510681152px;
  width: 221.9290008544922px;
  height: 206.07691955566406px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.resources-frame826 {
  gap: 10.011834144592285px;
  top: 6.771651896997355e-7px;
  left: -5.840231418609619px;
  width: 249px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.resources-text070 {
  color: var(--dl-color-default-lmstext);
  width: 222px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame1301 {
  width: 249.46153259277344px;
  height: 42.550296783447266px;
  display: flex;
  overflow: hidden;
  position: relative;
  box-shadow: 0px 1.668639063835144px 4.171597480773926px 0px rgba(0, 0, 0, 0.07000000029802322) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 13.349112510681152px;
  background-color: rgba(255, 255, 255, 1);
}
.resources-text072 {
  top: -0.00029754638671875px;
  left: 13.34912109375px;
  color: rgba(22, 119, 255, 1);
  width: 236px;
  height: auto;
  position: absolute;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-text074 {
  color: var(--dl-color-default-silver);
  width: 221px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-text076 {
  color: var(--dl-color-default-silver);
  width: 221px;
  height: auto;
  font-size: 11.680473327636719px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 18.355030059814453px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame392 {
  top: 613px;
  left: 350px;
  width: 790px;
  height: 366px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-text078 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 26px;
}
.resources-frame273 {
  gap: 24px;
  top: 42px;
  left: 0px;
  width: 604px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.resources-group269 {
  width: 185px;
  height: 154px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.resources-file3line11 {
  top: 16px;
  left: 52px;
  width: 82px;
  height: 82px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group25 {
  top: 3.95263671875px;
  left: 9.7265625px;
  width: 62.54721450805664px;
  height: 74.57546997070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-group24 {
  top: 0px;
  left: 0px;
  width: 62.54721450805664px;
  height: 74.57546997070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-vector11 {
  top: 2.405660390853882px;
  left: 2.8867921829223633px;
  width: 57px;
  height: 69px;
  position: absolute;
  box-sizing: content-box;
}
.resources-vector12 {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 75px;
  position: absolute;
}
.resources-text080 {
  top: 51px;
  left: 28px;
  color: rgba(39, 106, 183, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame2731 {
  top: 102px;
  left: 41px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.resources-text082 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-text084 {
  color: var(--dl-color-default-silver);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-morevertical {
  top: 8px;
  left: 153px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.resources-group270 {
  width: 186px;
  height: 154px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.resources-file3line111 {
  top: 16px;
  left: 52px;
  width: 82px;
  height: 82px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group251 {
  top: 3.95263671875px;
  left: 9.7265625px;
  width: 62.54721450805664px;
  height: 74.57546997070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-group241 {
  top: 0px;
  left: 0px;
  width: 62.54721450805664px;
  height: 74.57546997070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-vector13 {
  top: 2.405660390853882px;
  left: 2.8867921829223633px;
  width: 57px;
  height: 69px;
  position: absolute;
  box-sizing: content-box;
}
.resources-vector14 {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 75px;
  position: absolute;
}
.resources-text086 {
  top: 51px;
  left: 28px;
  color: rgba(51, 173, 113, 1);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame2732 {
  top: 102px;
  left: 59px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.resources-text088 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-text090 {
  color: var(--dl-color-default-silver);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-morevertical1 {
  top: 8px;
  left: 154px;
  width: 24px;
  height: 24px;
  position: absolute;
}
.resources-group272 {
  width: 185px;
  height: 154px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.resources-file3line112 {
  top: 16px;
  left: 52px;
  width: 82px;
  height: 82px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.resources-group252 {
  top: 3.95263671875px;
  left: 9.7265625px;
  width: 62.54721450805664px;
  height: 74.57546997070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-group242 {
  top: 0px;
  left: 0px;
  width: 62.54721450805664px;
  height: 74.57546997070312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-vector15 {
  top: 2.405660390853882px;
  left: 2.8867921829223633px;
  width: 57px;
  height: 69px;
  position: absolute;
  box-sizing: content-box;
}
.resources-vector16 {
  top: 0px;
  left: 0px;
  width: 63px;
  height: 75px;
  position: absolute;
}
.resources-text092 {
  top: 51px;
  left: 28px;
  color: var(--dl-color-default-lmsaccent2);
  height: auto;
  position: absolute;
  font-size: 10px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-frame2733 {
  top: 102px;
  left: 30px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.resources-text094 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-text096 {
  color: var(--dl-color-default-silver);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-group86 {
  top: 88.4373779296875px;
  left: 352.0828552246094px;
  width: 674.1301879882812px;
  height: 434.5755310058594px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-text098 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  position: absolute;
  font-size: 20.02366828918457px;
  font-style: ExtraBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 800;
  line-height: 26.698225021362305px;
  font-stretch: normal;
  text-decoration: none;
}
.resources-group79 {
  top: 53.39646530151367px;
  left: -0.000014987923350417987px;
  width: 674.1301879882812px;
  height: 381.1790771484375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.resources-rectangle46 {
  top: 0px;
  left: 0px;
  width: 674px;
  height: 381px;
  position: absolute;
  border-radius: 13.349112510681152px;
}
.resources-frame-footer1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.resources-content-wrapper1 {
  gap: 223px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.resources-content-wrapper2 {
  gap: 48px;
  display: flex;
  align-items: flex-end;
}
.resources-text100 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-text102 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-text104 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-text106 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.resources-text108 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 1201px;
  height: auto;
  align-self: stretch;
  text-align: right;
  line-height: 22px;
}
