.chat-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.chat-mycourses {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.chat-frame-admin-panel-menu1 {
  height: 887.78466796875px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.chat-frame-admin-panel-menu11 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.chat-logo {
  gap: 8px;
  display: flex;
  padding: 16px 16px 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.chat-logo1 {
  gap: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.chat-frame1000002598 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.chat-container-logo {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 4.800000190734863px;
}
.chat-book4 {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14.40000057220459px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.chat-group {
  top: 1.2000000476837158px;
  left: 1.2000000476837158px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.chat-vector {
  top: 1.7998048067092896px;
  left: 2.3998048305511475px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.chat-vector01 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.chat-vector02 {
  top: 5.399805068969727px;
  left: 2.999804973602295px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.chat-vector03 {
  top: 8.999805450439453px;
  left: 2.3998048305511475px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.chat-frame-title {
  gap: 8px;
  display: flex;
  align-items: center;
}
.chat-text {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.chat-frame-menu {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.chat-menu-items {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.chat-navlink {
  display: contents;
}
.chat-menu-item-inline-navigation-item {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.chat-icon-dashboard-outlined {
  width: 16px;
  height: 16px;
}
.chat-text02 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 184px;
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-navlink1 {
  display: contents;
}
.chat-menu-item-inline-navigation-item1 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.chat-icon-database-outlined {
  width: 16px;
  height: 16px;
}
.chat-text04 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.chat-navlink2 {
  display: contents;
}
.chat-menu-item-inline-navigation-item2 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.chat-icon-bar-chart-outlined {
  width: 16px;
  height: 16px;
}
.chat-text06 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.chat-navlink3 {
  display: contents;
}
.chat-menu-item-inline-navigation-item3 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.chat-icon-calendar-outlined {
  width: 16px;
  height: 16px;
}
.chat-text08 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.chat-menu-submenu {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.chat-navlink4 {
  display: contents;
}
.chat-menu-item-inline-submenu-title {
  gap: 8px;
  display: flex;
  padding: 0 16px 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
  background-color: rgba(145, 202, 255, 1);
}
.chat-chatregular {
  width: 16px;
  height: 16px;
}
.chat-text10 {
  color: rgba(22, 119, 255, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.chat-menu-items1 {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.chat-navlink5 {
  display: contents;
}
.chat-menu-item-inline-navigation-item4 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  text-decoration: none;
}
.chat-icon-setting-outlined {
  width: 16px;
  height: 16px;
}
.chat-text12 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.chat-content-wrapper {
  width: 1176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.chat-frame-header {
  gap: 8px;
  display: flex;
  padding: 8px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.chat-icon-search {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.chat-frame-button {
  gap: 8px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.chat-content {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.chat-icon-menu-fold-outlined {
  width: 16px;
  height: 16px;
}
.chat-frame-input-search {
  width: 348px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.chat-input-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 6px 0 0 6px;
}
.chat-frame-input-basic {
  gap: 10px;
  display: flex;
  padding: 0 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
}
.chat-content1 {
  gap: 8px;
  height: 32px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
.chat-text14 {
  color: rgba(0, 0, 0, 0.25);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.chat-frame-button1 {
  gap: 8px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 6px 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.chat-content2 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.chat-icon-search-outlined {
  width: 16px;
  height: 16px;
}
.chat-avatar-button {
  gap: 16px;
  display: flex;
  align-items: center;
}
.chat-frame-button2 {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.chat-content3 {
  gap: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.chat-icon-global-outlined {
  width: 16px;
  height: 16px;
}
.chat-text16 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-notifications {
  gap: 8px;
  display: flex;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.chat-icon-bell-outlined {
  width: 16px;
  height: 16px;
}
.chat-content4 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.chat-frame-badge-basic {
  height: 14px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 77, 79, 1);
}
.chat-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.chat-navlink6 {
  display: contents;
}
.chat-frame-avatar {
  gap: 8px;
  display: flex;
  padding: 7px;
  align-items: flex-start;
  border-radius: 96px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.25);
}
.chat-icon-user-outlined {
  width: 18px;
  height: 18px;
}
.chat-frame-card1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
.chat-header-button {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
}
.chat-header-links {
  gap: 8px;
  width: 1128px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.chat-frame-title1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.chat-text20 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.chat-frame48095574 {
  width: 1128px;
  height: 647.78466796875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.chat-sidebar {
  top: 0.0007433753344230354px;
  left: 0px;
  width: 476.8414611816406px;
  height: 647.78466796875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 255, 255, 1);
}
.chat-frame349 {
  gap: 17.994016647338867px;
  top: 26.99102783203125px;
  left: 0px;
  width: 476.8414611816406px;
  height: 620.7936401367188px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}
.chat-heading {
  top: 0.00030517578125px;
  left: 26.99102783203125px;
  width: 423px;
  height: 44.98504638671875px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.chat-text22 {
  top: 7.872711181640625px;
  left: -0.00018310546875px;
  color: var(--dl-color-gray-900);
  height: auto;
  position: absolute;
  font-size: 22.492521286010742px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 29.240276336669922px;
  font-stretch: normal;
  text-decoration: none;
}
.chat-search {
  top: 62.9793701171875px;
  left: 26.99102783203125px;
  width: 423px;
  height: 53.98204803466797px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(232, 234, 239, 1);
  border-style: solid;
  border-width: 1.1246260404586792px;
  background-color: var(--dl-color-gray-white);
}
.chat-info {
  gap: 13.495512008666992px;
  top: 13.499810218811035px;
  left: 20.243268966674805px;
  width: 100px;
  display: flex;
  position: absolute;
  align-items: center;
}
.chat-magnifying-glass {
  width: 26.991024017333984px;
  height: 26.991024017333984px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.chat-magnifying-glass1 {
  top: 0.0007847528904676437px;
  left: 0.00020933151245117188px;
  width: 26.991024017333984px;
  height: 26.991024017333984px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.chat-vector04 {
  top: 3.373878002166748px;
  left: 3.373878240585327px;
  width: 18px;
  height: 18px;
  position: absolute;
}
.chat-vector05 {
  top: 18.492630004882812px;
  left: 18.492630004882812px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.chat-text24 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: left;
  line-height: 24px;
}
.chat-message {
  top: 134.9554443359375px;
  left: 0px;
  width: 477px;
  height: 485.8384704589844px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.chat-message01 {
  gap: 17.994016647338867px;
  top: 0.0003662109375px;
  left: 0px;
  width: 477px;
  display: flex;
  padding: 13.495512008666992px 26.991024017333984px;
  position: absolute;
  align-items: center;
  background-color: rgba(229, 238, 244, 1);
}
.chat-profile {
  width: 54px;
  height: 53.98204803466797px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.chat-avatar {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 54px;
  position: absolute;
}
.chat-avatar01 {
  top: 40.486534118652344px;
  left: 40.48653793334961px;
  width: 11px;
  height: 11px;
  position: absolute;
  border-color: rgba(255, 221, 209, 1);
  border-style: solid;
  border-width: 2.2492520809173584px;
}
.chat-contents {
  gap: 4.498504161834717px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chat-main-info {
  gap: 4.498504161834717px;
  width: 350.8833312988281px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.chat-text26 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.chat-text28 {
  color: var(--dl-color-gray-700);
  height: auto;
  text-align: right;
  line-height: 22px;
}
.chat-text30 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-message02 {
  gap: 17.994016647338867px;
  top: 80.97344970703125px;
  left: 0px;
  width: 477px;
  display: flex;
  padding: 13.495512008666992px 26.991024017333984px;
  position: absolute;
  align-items: center;
}
.chat-profile1 {
  width: 54px;
  height: 53.98204803466797px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.chat-avatar02 {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 54px;
  position: absolute;
}
.chat-avatar03 {
  top: 40.486534118652344px;
  left: 40.48653793334961px;
  width: 11px;
  height: 11px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2.2492520809173584px;
}
.chat-contents1 {
  gap: 4.498504161834717px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chat-main-info1 {
  gap: 4.498504161834717px;
  width: 350.8833312988281px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.chat-text32 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.chat-text34 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: right;
  line-height: 22px;
}
.chat-message03 {
  width: 350.8833312988281px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.chat-text36 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-dot {
  width: 9px;
  height: 9px;
}
.chat-profile2 {
  top: 13.495880126953125px;
  left: 26.99102783203125px;
  width: 53.9820556640625px;
  height: 53.9820556640625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.chat-avatar04 {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 54px;
  position: absolute;
}
.chat-avatar05 {
  top: 40.48654556274414px;
  left: 40.48653793334961px;
  width: 11px;
  height: 11px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2.2492520809173584px;
}
.chat-message04 {
  gap: 17.994016647338867px;
  top: 161.946533203125px;
  left: 0px;
  width: 477px;
  display: flex;
  padding: 13.495512008666992px 26.991024017333984px;
  position: absolute;
  align-items: center;
}
.chat-profile3 {
  width: 54px;
  height: 53.98204803466797px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.chat-avatar06 {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 54px;
  position: absolute;
}
.chat-avatar07 {
  top: 40.486534118652344px;
  left: 40.48653793334961px;
  width: 11px;
  height: 11px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2.2492520809173584px;
}
.chat-contents2 {
  gap: 4.498504161834717px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chat-main-info2 {
  gap: 4.498504161834717px;
  width: 350.8833312988281px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.chat-text38 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.chat-text40 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: right;
  line-height: 22px;
}
.chat-message05 {
  width: 350.8833312988281px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.chat-text42 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-dot1 {
  width: 9px;
  height: 9px;
}
.chat-message06 {
  gap: 17.994016647338867px;
  top: 242.91961669921875px;
  left: 0px;
  width: 477px;
  display: flex;
  padding: 13.495512008666992px 26.991024017333984px;
  position: absolute;
  align-items: center;
}
.chat-avatar08 {
  width: 54px;
  height: 54px;
}
.chat-contents3 {
  gap: 4.498504161834717px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chat-main-info3 {
  gap: 4.498504161834717px;
  width: 350.8833312988281px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.chat-text44 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.chat-text46 {
  color: var(--dl-color-gray-500);
  height: auto;
  text-align: right;
  line-height: 22px;
}
.chat-text48 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-message07 {
  gap: 17.994016647338867px;
  top: 323.8927001953125px;
  left: 0px;
  width: 477px;
  display: flex;
  padding: 13.495512008666992px 26.991024017333984px;
  position: absolute;
  align-items: center;
}
.chat-profile4 {
  width: 54px;
  height: 53.98204803466797px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.chat-avatar09 {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 54px;
  position: absolute;
}
.chat-avatar10 {
  top: 40.486534118652344px;
  left: 40.48653793334961px;
  width: 11px;
  height: 11px;
  position: absolute;
  border-color: rgba(244, 247, 249, 1);
  border-style: solid;
  border-width: 2.2492520809173584px;
}
.chat-contents4 {
  gap: 4.498504161834717px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chat-main-info4 {
  gap: 4.498504161834717px;
  width: 350.8833312988281px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.chat-text50 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.chat-text52 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: right;
  line-height: 22px;
}
.chat-text54 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-message08 {
  gap: 17.994016647338867px;
  top: 404.86578369140625px;
  left: 0px;
  width: 477px;
  display: flex;
  padding: 13.495512008666992px 26.991024017333984px;
  position: absolute;
  align-items: center;
}
.chat-profile5 {
  width: 54px;
  height: 53.98204803466797px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.chat-avatar11 {
  top: 0px;
  left: 0px;
  width: 54px;
  height: 54px;
  position: absolute;
}
.chat-avatar12 {
  top: 40.486534118652344px;
  left: 40.48653793334961px;
  width: 11px;
  height: 11px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2.2492520809173584px;
}
.chat-contents5 {
  gap: 4.498504161834717px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chat-main-info5 {
  gap: 4.498504161834717px;
  width: 350.8833312988281px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.chat-text56 {
  color: var(--dl-color-gray-900);
  height: auto;
  text-align: left;
  line-height: 20px;
}
.chat-text58 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: right;
  line-height: 22px;
}
.chat-text60 {
  color: var(--dl-color-gray-600);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-messagetop {
  gap: 538.6958618164062px;
  top: 0px;
  left: 500.841796875px;
  width: 630px;
  height: 116.96111297607422px;
  display: flex;
  padding: 22.492521286010742px 26.991024017333984px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(232, 234, 239, 1);
  border-style: solid;
  border-width: 1.1246260404586792px;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.chat-avatar13 {
  gap: 17.994016647338867px;
  top: 22.493011474609375px;
  left: 26.991416931152344px;
  width: 266px;
  display: flex;
  position: absolute;
  align-items: center;
}
.chat-image {
  width: 71.97607421875px;
  height: 71.97607421875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.chat-image1 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 72px;
  position: absolute;
}
.chat-avatar14 {
  top: 0px;
  left: 0px;
  width: 72px;
  height: 72px;
  position: absolute;
}
.chat-dot2 {
  top: 55.106689453125px;
  left: 55.1066780090332px;
  width: 13px;
  height: 13px;
  position: absolute;
  box-sizing: content-box;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 2.2492520809173584px;
}
.chat-contents6 {
  gap: 8.997008323669434px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.chat-text62 {
  color: var(--dl-color-gray-900);
  height: auto;
  font-size: 20.243268966674805px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 26.991024017333984px;
  font-stretch: normal;
  text-decoration: none;
}
.chat-text64 {
  color: var(--dl-color-gray-700);
  height: auto;
  font-size: 15.74476432800293px;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 24.74177360534668px;
  font-stretch: normal;
  text-decoration: none;
}
.chat-button {
  gap: 17.994016647338867px;
  top: 31.490020751953125px;
  left: 536.447021484375px;
  width: 54px;
  display: flex;
  padding: 13.495512008666992px;
  position: absolute;
  align-items: flex-start;
  background-color: var(--dl-color-gray-50);
}
.chat-dots-three {
  width: 26.991024017333984px;
  height: 26.991024017333984px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.chat-dots-three1 {
  top: 0.0007905960083007812px;
  left: 0.0007905960083007812px;
  width: 26.991024017333984px;
  height: 26.991024017333984px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.chat-vector06 {
  top: 12.230308532714844px;
  left: 12.230308532714844px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: content-box;
}
.chat-vector07 {
  top: 12.230308532714844px;
  left: 20.102691650390625px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: content-box;
}
.chat-vector08 {
  top: 12.230308532714844px;
  left: 4.357925891876221px;
  width: 3px;
  height: 3px;
  position: absolute;
  box-sizing: content-box;
}
.chat-message09 {
  gap: 26.991024017333984px;
  top: 115.9609375px;
  left: 500.841796875px;
  width: 630px;
  height: 531.9481811523438px;
  display: flex;
  padding: 197.93418884277344px 26.991024017333984px 53.98204803466797px;
  position: absolute;
  align-items: center;
  border-color: rgba(233, 234, 240, 1);
  border-style: solid;
  border-width: 1.1246260404586792px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.chat-buttons {
  gap: 13.495512008666992px;
  top: 472.343017578125px;
  left: 491.4620056152344px;
  width: 118px;
  height: 43.860416412353516px;
  display: flex;
  padding: 0 26.991024017333984px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(0, 122, 255, 1);
}
.chat-text66 {
  color: var(--dl-color-gray-white);
  height: auto;
  text-align: left;
  line-height: 48px;
}
.chat-paper-plane-right {
  width: 26.991024017333984px;
  height: 26.991024017333984px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.chat-paper-plane-right1 {
  top: 0.0007905960083007812px;
  left: 0.0005893707275390625px;
  width: 26.991024017333984px;
  height: 26.991024017333984px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.chat-vector09 {
  top: 2.6786746978759766px;
  left: 4.081162452697754px;
  width: 19px;
  height: 22px;
  position: absolute;
}
.chat-vector10 {
  top: 13.495512008666992px;
  left: 7.591225624084473px;
  width: 7px;
  height: 1px;
  position: absolute;
}
.chat-write-message {
  gap: 22.492521286010742px;
  top: 472.343017578125px;
  left: 14.620529174804688px;
  width: 464px;
  height: 43.86042022705078px;
  display: flex;
  padding: 26.991024017333984px;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(232, 234, 239, 1);
  border-style: solid;
  border-width: 1.1246260404586792px;
  background-color: var(--dl-color-gray-white);
}
.chat-info1 {
  gap: 13.495512008666992px;
  top: 8.9927978515625px;
  left: 20.243680953979492px;
  width: 207px;
  display: flex;
  position: absolute;
  align-items: center;
}
.chat-pencil-line {
  width: 26.991024017333984px;
  height: 26.991024017333984px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.chat-pencil-line1 {
  top: 0px;
  left: 0px;
  width: 26.991024017333984px;
  height: 26.991024017333984px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.chat-vector11 {
  top: 3.7231271266937256px;
  left: 4.217347621917725px;
  width: 19px;
  height: 19px;
  position: absolute;
}
.chat-vector12 {
  top: 6.747756004333496px;
  left: 14.338981628417969px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.chat-vector13 {
  top: 16.923206329345703px;
  left: 4.271162986755371px;
  width: 19px;
  height: 6px;
  position: absolute;
}
.chat-text68 {
  color: var(--dl-color-gray-500);
  height: auto;
  font-size: 17.994016647338867px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 26.991024017333984px;
  font-stretch: normal;
  text-decoration: none;
}
.chat-frame-footer1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.chat-content-wrapper1 {
  gap: 223px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.chat-content-wrapper2 {
  gap: 48px;
  display: flex;
  align-items: flex-end;
}
.chat-text70 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-text72 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-text74 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-text76 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.chat-text78 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 1201px;
  height: auto;
  align-self: stretch;
  text-align: right;
  line-height: 22px;
}
