.AddHomework-container{
  width: 100%;
  background-color: #F5F5F5;
}
.AddHomework-title{
  margin: 2rem;
}
.AddHomework-inside{
  margin: 2rem;
}
.AddHomework-form{
  width: 70%;
  background-color: #fff;
  margin: 2rem;
}
.form-group-up{
  padding: 2rem;
  border-radius: 12.09px;
}
