.addhomework-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.addhomework-createcourse {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-frame-admin-panel-menu1 {
  height: 1302.2357177734375px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-frame-admin-panel-menu11 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-logo {
  gap: 8px;
  display: flex;
  padding: 16px 16px 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-logo1 {
  gap: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.addhomework-frame1000002598 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-container-logo {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 4.800000190734863px;
}
.addhomework-book4 {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14.40000057220459px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-group {
  top: 1.2000000476837158px;
  left: 1.2000000476837158px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.addhomework-vector {
  top: 1.8000489473342896px;
  left: 2.3999879360198975px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.addhomework-vector1 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.addhomework-vector2 {
  top: 5.400049209594727px;
  left: 2.999988079071045px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.addhomework-vector3 {
  top: 9.000049591064453px;
  left: 2.3999879360198975px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.addhomework-frame-title {
  gap: 8px;
  display: flex;
  align-items: center;
}
.addhomework-text {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.addhomework-frame-menu {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-menu-items {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.addhomework-menu-item-inline-navigation-item {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.addhomework-icon-dashboard-outlined {
  width: 16px;
  height: 16px;
}
.addhomework-text02 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 184px;
  height: auto;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.addhomework-menu-item-inline-navigation-item1 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(186, 224, 255, 1);
}
.addhomework-icon-database-outlined {
  width: 16px;
  height: 16px;
}
.addhomework-text04 {
  color: rgba(9, 88, 217, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.addhomework-menu-item-inline-navigation-item2 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.addhomework-icon-bar-chart-outlined {
  width: 16px;
  height: 16px;
}
.addhomework-text06 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.addhomework-menu-item-inline-navigation-item3 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.addhomework-icon-calendar-outlined {
  width: 16px;
  height: 16px;
}
.addhomework-text08 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.addhomework-menu-item-inline-navigation-item4 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.addhomework-icon-video-camera-outlined {
  width: 16px;
  height: 16px;
}
.addhomework-text10 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.addhomework-menu-items1 {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.addhomework-menu-item-inline-navigation-item5 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.addhomework-icon-setting-outlined {
  width: 16px;
  height: 16px;
}
.addhomework-text12 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.addhomework-content-wrapper {
  width: 1176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.addhomework-frame-header {
  gap: 8px;
  display: flex;
  padding: 8px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-icon-search {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.addhomework-frame-button {
  gap: 8px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.addhomework-content {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.addhomework-icon-menu-fold-outlined {
  width: 16px;
  height: 16px;
}
.addhomework-frame-input-search {
  width: 348px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-input-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 6px 0 0 6px;
}
.addhomework-frame-input-basic {
  gap: 10px;
  display: flex;
  padding: 0 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
}
.addhomework-content1 {
  gap: 8px;
  height: 32px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
.addhomework-text14 {
  color: rgba(0, 0, 0, 0.25);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.addhomework-frame-button1 {
  gap: 8px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 6px 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-content2 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.addhomework-icon-search-outlined {
  width: 16px;
  height: 16px;
}
.addhomework-avatar-button {
  gap: 16px;
  display: flex;
  align-items: center;
}
.addhomework-frame-button2 {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.addhomework-content3 {
  gap: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.addhomework-icon-global-outlined {
  width: 16px;
  height: 16px;
}
.addhomework-text16 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.addhomework-notifications {
  gap: 8px;
  display: flex;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-icon-bell-outlined {
  width: 16px;
  height: 16px;
}
.addhomework-content4 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.addhomework-frame-badge-basic {
  height: 14px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 77, 79, 1);
}
.addhomework-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.addhomework-navlink {
  display: contents;
}
.addhomework-frame-avatar {
  gap: 8px;
  display: flex;
  padding: 7px;
  align-items: flex-start;
  border-radius: 96px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.25);
}
.addhomework-icon-user-outlined {
  width: 18px;
  height: 18px;
}
.addhomework-frame-card1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
.addhomework-header-button {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
}
.addhomework-header-links {
  gap: 8px;
  width: 1128px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.addhomework-frame-breadcrumb {
  display: flex;
  align-items: center;
}
.addhomework-breadcrumb-link {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  border-radius: 4px;
}
.addhomework-text20 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.addhomework-breadcrumb-separator {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  overflow: hidden;
  align-items: center;
}
.addhomework-content5 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.addhomework-text22 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.addhomework-breadcrumb-link1 {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  border-radius: 4px;
}
.addhomework-text23 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.addhomework-breadcrumb-separator1 {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  overflow: hidden;
  align-items: center;
}
.addhomework-content6 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.addhomework-text25 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.addhomework-breadcrumb-link2 {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  border-radius: 4px;
}
.addhomework-text26 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.addhomework-frame-title1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-text28 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.addhomework-frame1000002673 {
  gap: 32px;
  display: flex;
  align-items: flex-start;
}
.addhomework-frame6356187 {
  display: flex;
  padding: 36.257144927978516px;
  align-items: flex-end;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1.0071429014205933px;
  border-radius: 12.085714340209961px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-frame1000001604 {
  gap: 40.28571701049805px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.addhomework-frame6356217 {
  gap: 24.171428680419922px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.addhomework-frame6356312 {
  gap: 8.057143211364746px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.addhomework-input-dropdown-txt {
  color: rgba(38, 38, 38, 1);
  width: 123.87857055664062px;
  display: flex;
  font-size: 16.114286422729492px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 500;
}
.addhomework-input-dropdown {
  gap: 10.071429252624512px;
  width: 765.4285888671875px;
  display: flex;
  padding: 12.085714340209961px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 224, 235, 1);
  border-style: solid;
  border-width: 1.0071429014205933px;
  border-radius: 4.028571605682373px;
  background-color: var(--dl-color-default-white);
}
.addhomework-frame6356216 {
  gap: 8.057143211364746px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.addhomework-input-dropdown-txt1 {
  color: rgba(38, 38, 38, 1);
  width: 123.87857055664062px;
  display: flex;
  font-size: 16.114286422729492px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 500;
}
.addhomework-input-dropdown1 {
  gap: 10.071429252624512px;
  width: 765.4285888671875px;
  display: flex;
  padding: 12.085714340209961px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 224, 235, 1);
  border-style: solid;
  border-width: 1.0071429014205933px;
  border-radius: 4.028571605682373px;
  background-color: var(--dl-color-default-white);
}
.addhomework-text30 {
  color: var(--dl-color-default-border);
  width: 715px;
  height: auto;
  font-size: 14.100000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 20.142858505249023px;
  font-stretch: normal;
  text-decoration: none;
}
.addhomework-input-dropdown2 {
  gap: 4.028571605682373px;
  width: 716.0785522460938px;
  height: 131.9357147216797px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 2.0142858028411865px;
  flex-direction: column;
}
.addhomework-input-dropdown-txt2 {
  color: rgba(26, 20, 30, 1);
  width: 716.07861328125px;
  display: flex;
  font-size: 16.114286422729492px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 500;
}
.addhomework-texteditor {
  width: 716.07861328125px;
  height: 105.75000762939453px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(233, 236, 239, 1);
  border-style: solid;
  border-width: 1.0071429014205933px;
  border-radius: 6.0428571701049805px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-menubar {
  gap: 8.057143211364746px;
  display: flex;
  padding: 8.057143211364746px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-buttongrouphistory {
  gap: 2.0142858028411865px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(233, 236, 239, 1);
}
.addhomework-menubarbutton {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-icundo {
  width: 20px;
  height: 20px;
}
.addhomework-menubarbutton01 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase01 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-icredo {
  width: 20px;
  height: 20px;
}
.addhomework-menubartextstyledropdown {
  gap: 2.0142858028411865px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(233, 236, 239, 1);
}
.addhomework-menubarbuttonbase02 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px 0 8.057143211364746px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-text32 {
  color: var(--dl-color-default-ocgray9);
  height: auto;
  font-size: 14.100000381469727px;
  font-style: Regular;
  text-align: left;
  font-family: Noto Sans;
  font-weight: 400;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.addhomework-icchevrondown {
  width: 16px;
  height: 16px;
}
.addhomework-menubartextaligndropdown {
  gap: 2.0142858028411865px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(233, 236, 239, 1);
}
.addhomework-menubarbuttonbase03 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px 0 8.057143211364746px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-ictextalignleft {
  width: 20px;
  height: 20px;
}
.addhomework-icchevrondown1 {
  width: 16px;
  height: 16px;
}
.addhomework-menubarcolorpickerdropdown {
  gap: 2.0142858028411865px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(233, 236, 239, 1);
}
.addhomework-menubarbuttonbase04 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px 0 8.057143211364746px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-colorpickerlistitem {
  width: 20.142858505249023px;
  height: 20.142858505249023px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-contextmenucolorpickerchipfill {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 4.028571605682373px;
}
.addhomework-contextmenucolorpickerchipborder {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  opacity: 0.70;
  position: absolute;
  border-color: rgba(33, 37, 41, 1);
  border-style: solid;
  border-width: 1.0071429014205933px;
  border-radius: 4.028571605682373px;
}
.addhomework-icchevrondown2 {
  width: 16px;
  height: 16px;
}
.addhomework-format {
  gap: 2.0142858028411865px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(233, 236, 239, 1);
}
.addhomework-menubarbutton02 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase05 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-ictextbold {
  width: 20px;
  height: 20px;
}
.addhomework-menubarbutton03 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase06 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-ictextitalic {
  width: 20px;
  height: 20px;
}
.addhomework-menubarbutton04 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase07 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-ictextunderline {
  width: 20px;
  height: 20px;
}
.addhomework-menubarbutton05 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase08 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-ictextstrikethrough {
  width: 20px;
  height: 20px;
}
.addhomework-menubarbutton06 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase09 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-icinlinecode {
  width: 20px;
  height: 20px;
}
.addhomework-menubarbutton07 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase10 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-ictextclearformat {
  width: 20px;
  height: 20px;
}
.addhomework-list {
  gap: 2.0142858028411865px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(233, 236, 239, 1);
}
.addhomework-menubarbutton08 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase11 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-iclistbulleted {
  width: 20px;
  height: 20px;
}
.addhomework-menubarbutton09 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase12 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-iclistnumbered {
  width: 20px;
  height: 20px;
}
.addhomework-etc {
  gap: 2.0142858028411865px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(233, 236, 239, 1);
}
.addhomework-menubarbutton10 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase13 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-iclink {
  width: 20px;
  height: 20px;
}
.addhomework-menubarbutton11 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase14 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-icimage {
  width: 20px;
  height: 20px;
}
.addhomework-menubarbutton12 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase15 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-iccode {
  width: 20px;
  height: 20px;
}
.addhomework-menubarbutton13 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase16 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-icquotes {
  width: 20px;
  height: 20px;
}
.addhomework-menubarbutton14 {
  display: flex;
  align-items: flex-start;
}
.addhomework-menubarbuttonbase17 {
  gap: 2.0142858028411865px;
  height: 28.200000762939453px;
  display: flex;
  padding: 0 4.028571605682373px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  justify-content: center;
}
.addhomework-ichorizontalrule {
  width: 20.142858505249023px;
  height: 20.142858505249023px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-rectangle2486 {
  top: 9.441741943359375px;
  left: 2.517857789993286px;
  width: 15px;
  height: 1px;
  position: absolute;
}
.addhomework-contentsarea {
  display: flex;
  padding: 12.085714340209961px 16.114286422729492px 16.114286422729492px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.addhomework-frame1000001547 {
  gap: 10.071429252624512px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
}
.addhomework-corner {
  width: 9.064286231994629px;
  height: 9.064286231994629px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-corner1 {
  top: 0px;
  left: 0px;
  width: 9.064286231994629px;
  height: 9.064286231994629px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.addhomework-frame6356313 {
  gap: 8.057143211364746px;
  width: 765.4285888671875px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.addhomework-frame6356209 {
  gap: 8.057143211364746px;
  width: 765.4285888671875px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.addhomework-input-dropdown-txt3 {
  color: rgba(38, 38, 38, 1);
  width: 716.07861328125px;
  display: flex;
  font-size: 16.114286422729492px;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 500;
}
.addhomework-draganddrop {
  width: 765.4285888671875px;
  height: 392.78570556640625px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(171, 167, 175, 1);
  border-style: solid;
  border-width: 1.0071429014205933px;
  border-radius: 4.028571605682373px;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-rectangle3527 {
  top: 0px;
  left: 0px;
  width: 765px;
  height: 393px;
  position: absolute;
  border-radius: 4.028571605682373px;
}
.addhomework-frame2 {
  top: 12.085711479187012px;
  left: 717.085693359375px;
  width: 36px;
  height: 36.25714111328125px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-ellipse1 {
  top: -0.000274658203125px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
  border-color: rgba(231, 231, 231, 1);
  border-style: solid;
  border-width: 1.0071429014205933px;
}
.addhomework-claritycloseline {
  top: 10.071151733398438px;
  left: 10.071456909179688px;
  width: 16px;
  height: 16px;
  position: absolute;
}
.addhomework-frame1000001593 {
  gap: 8.057143211364746px;
  top: 334.3714294433594px;
  left: 16.114288330078125px;
  width: 733px;
  display: flex;
  padding: 4.028571605682373px 8.057143211364746px;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  background-color: rgba(0, 0, 0, 0.4000000059604645);
}
.addhomework-web-buttons {
  width: 34.24285888671875px;
  height: 34.24285888671875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-icon-frame {
  top: 8.4391450881958px;
  left: 8.439275741577148px;
  width: 17px;
  height: 17.121429443359375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-play {
  top: 0.7135728597640991px;
  left: 2.140183925628662px;
  width: 14px;
  height: 16px;
  position: absolute;
}
.addhomework-frame1000001595 {
  gap: 9.064286231994629px;
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.addhomework-text34 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12.085714340209961px;
  font-style: Thin;
  text-align: left;
  font-family: Inter;
  font-weight: 100;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.addhomework-frame1000001590 {
  gap: 10.071429252624512px;
  width: 516.1001586914062px;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4000000059604645);
}
.addhomework-rectangle3526 {
  width: 93px;
  height: auto;
  flex-grow: 1;
  border-radius: 8.057143211364746px;
}
.addhomework-text36 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 12.085714340209961px;
  font-style: Thin;
  text-align: left;
  font-family: Inter;
  font-weight: 100;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
.addhomework-frame1000001592 {
  gap: 4.028571605682373px;
  display: flex;
  align-items: flex-start;
}
.addhomework-frame1000001594 {
  gap: 2.0142858028411865px;
  display: flex;
  align-items: flex-start;
}
.addhomework-web-buttons1 {
  width: 34.242767333984375px;
  height: 34.242767333984375px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-icon-frame1 {
  top: 8.439471244812012px;
  left: 8.439318656921387px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.addhomework-web-buttons2 {
  width: 34.242767333984375px;
  height: 34.242767333984375px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-icon-frame2 {
  top: 8.439471244812012px;
  left: 8.43929672241211px;
  width: 17px;
  height: 17px;
  position: absolute;
}
.addhomework-frame6356219 {
  gap: 8.057143211364746px;
  display: flex;
  align-items: center;
}
.addhomework-checkbox {
  width: 16.114286422729492px;
  height: 16.114286422729492px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-group109 {
  top: 0px;
  left: 0px;
  width: 16.114286422729492px;
  height: 16.114286422729492px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(22, 119, 255, 1);
}
.addhomework-icdone {
  top: 2.0142858028411865px;
  left: 2.0142858028411865px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.addhomework-text38 {
  color: var(--dl-color-default-maintext);
  width: 448px;
  height: auto;
  font-size: 14.100000381469727px;
  font-style: Thin;
  text-align: left;
  font-family: Inter;
  font-weight: 100;
  line-height: 20.142858505249023px;
  font-stretch: normal;
  text-decoration: none;
}
.addhomework-input-dropdown3 {
  gap: 4.028571605682373px;
  width: 382.71429443359375px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4.028571605682373px;
  flex-direction: column;
}
.addhomework-input-dropdown-txt4 {
  color: rgba(38, 38, 38, 1);
  display: flex;
  font-size: 16.114286422729492px;
  align-self: stretch;
  text-align: left;
  align-items: flex-start;
  flex-shrink: 0;
  font-family: Inter;
  font-weight: 500;
}
.addhomework-input {
  gap: 10.071429252624512px;
  display: flex;
  padding: 12.085714340209961px;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(229, 224, 235, 1);
  border-style: solid;
  border-width: 1.0071429014205933px;
  border-radius: 2.0142858028411865px;
  background-color: var(--dl-color-default-white);
}
.addhomework-input-dropdown-txt5 {
  color: rgba(171, 167, 175, 1);
  display: flex;
  flex-grow: 1;
  font-size: 14px;
  text-align: left;
  align-items: flex-start;
  font-family: Poppins;
  font-weight: 400;
}
.addhomework-input-icon {
  width: 20.142858505249023px;
  height: 20.142858505249023px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.addhomework-calendar {
  top: 0px;
  left: 0px;
  width: 20px;
  height: 20px;
  position: absolute;
}
.addhomework-frame6356268 {
  gap: 8.057143211364746px;
  display: flex;
  align-items: flex-start;
}
.addhomework-button {
  gap: 8.057143211364746px;
  display: flex;
  align-items: center;
  border-radius: 6.0428571701049805px;
  justify-content: center;
  background-color: rgba(22, 119, 255, 1);
}
.addhomework-navlink1 {
  display: contents;
}
.addhomework-itemlink {
  gap: 8.057143211364746px;
  display: flex;
  padding: 10.071429252624512px 12.085714340209961px;
  align-items: flex-start;
  text-decoration: none;
}
.addhomework-text40 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 14.100000381469727px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.addhomework-frame6356411 {
  gap: 24.171428680419922px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.addhomework-frame63564111 {
  gap: 10.071429252624512px;
  display: flex;
  padding: 16.114286422729492px 28.200000762939453px;
  align-items: flex-start;
  border-color: rgba(224, 224, 224, 1);
  border-style: solid;
  border-width: 1.0071429014205933px;
  border-radius: 12.085714340209961px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-frame6356412 {
  gap: 8.057143211364746px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.addhomework-frame6356394 {
  gap: 8.057143211364746px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.addhomework-button1 {
  gap: 8.057143211364746px;
  width: 201.42857360839844px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(22, 119, 255, 1);
  border-style: solid;
  border-width: 2.0142858028411865px;
  border-radius: 6.0428571701049805px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-itemlink1 {
  gap: 8.057143211364746px;
  display: flex;
  padding: 10.071429252624512px 8.057143211364746px;
  align-items: center;
}
.addhomework-text42 {
  color: rgba(22, 119, 255, 1);
  height: auto;
  font-size: 14.100000381469727px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.addhomework-frame63564112 {
  gap: 8.057143211364746px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.addhomework-frame63563941 {
  gap: 8.057143211364746px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.addhomework-button2 {
  gap: 8.057143211364746px;
  width: 201.42857360839844px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(22, 119, 255, 1);
  border-style: solid;
  border-width: 2.0142858028411865px;
  border-radius: 6.0428571701049805px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-itemlink2 {
  gap: 8.057143211364746px;
  display: flex;
  padding: 10.071429252624512px 8.057143211364746px;
  align-items: center;
}
.addhomework-text44 {
  color: rgba(22, 119, 255, 1);
  height: auto;
  font-size: 14.100000381469727px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 129.99999523162842%;
  font-stretch: normal;
  text-decoration: none;
}
.addhomework-frame-footer1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.addhomework-content-wrapper1 {
  gap: 223px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.addhomework-content-wrapper2 {
  gap: 48px;
  display: flex;
  align-items: flex-end;
}
.addhomework-text46 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.addhomework-text48 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.addhomework-text50 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.addhomework-text52 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.addhomework-text54 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 1201px;
  height: auto;
  align-self: stretch;
  text-align: right;
  line-height: 22px;
}
