.mycourse-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.mycourse-createcourse {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourse-frame-admin-panel-menu1 {
  height: 1089.7132568359375px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-frame-admin-panel-menu11 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-logo {
  gap: 8px;
  display: flex;
  padding: 16px 16px 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-logo1 {
  gap: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.mycourse-frame1000002598 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourse-container-logo {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 4.800000190734863px;
}
.mycourse-book4 {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14.40000057220459px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourse-group {
  top: 1.2000000476837158px;
  left: 1.2000000476837158px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourse-vector {
  top: 1.8000489473342896px;
  left: 2.3998048305511475px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.mycourse-vector1 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.mycourse-vector2 {
  top: 5.400049209594727px;
  left: 2.999804973602295px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.mycourse-vector3 {
  top: 9.000049591064453px;
  left: 2.3998048305511475px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.mycourse-frame-title {
  gap: 8px;
  display: flex;
  align-items: center;
}
.mycourse-text {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.mycourse-frame-menu {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-menu-items {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourse-menu-item-inline-navigation-item {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.mycourse-icon-dashboard-outlined {
  width: 16px;
  height: 16px;
}
.mycourse-text02 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 184px;
  height: auto;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.mycourse-menu-item-inline-navigation-item1 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(186, 224, 255, 1);
}
.mycourse-icon-database-outlined {
  width: 16px;
  height: 16px;
}
.mycourse-text04 {
  color: rgba(9, 88, 217, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.mycourse-menu-item-inline-navigation-item2 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.mycourse-icon-bar-chart-outlined {
  width: 16px;
  height: 16px;
}
.mycourse-text06 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.mycourse-menu-item-inline-navigation-item3 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.mycourse-icon-calendar-outlined {
  width: 16px;
  height: 16px;
}
.mycourse-text08 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.mycourse-menu-item-inline-navigation-item4 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.mycourse-icon-video-camera-outlined {
  width: 16px;
  height: 16px;
}
.mycourse-text10 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.mycourse-menu-items1 {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourse-menu-item-inline-navigation-item5 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.mycourse-icon-setting-outlined {
  width: 16px;
  height: 16px;
}
.mycourse-text12 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.mycourse-content-wrapper {
  width: 1176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.mycourse-frame-header {
  gap: 8px;
  display: flex;
  padding: 8px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-icon-search {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.mycourse-frame-button {
  gap: 8px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.mycourse-content {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mycourse-icon-menu-fold-outlined {
  width: 16px;
  height: 16px;
}
.mycourse-frame-input-search {
  width: 348px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-input-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 6px 0 0 6px;
}
.mycourse-frame-input-basic {
  gap: 10px;
  display: flex;
  padding: 0 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
}
.mycourse-content1 {
  gap: 8px;
  height: 32px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
.mycourse-text14 {
  color: rgba(0, 0, 0, 0.25);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.mycourse-frame-button1 {
  gap: 8px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 6px 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-content2 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mycourse-icon-search-outlined {
  width: 16px;
  height: 16px;
}
.mycourse-avatar-button {
  gap: 16px;
  display: flex;
  align-items: center;
}
.mycourse-frame-button2 {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.mycourse-content3 {
  gap: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mycourse-icon-global-outlined {
  width: 16px;
  height: 16px;
}
.mycourse-text16 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourse-notifications {
  gap: 8px;
  display: flex;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-icon-bell-outlined {
  width: 16px;
  height: 16px;
}
.mycourse-content4 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mycourse-frame-badge-basic {
  height: 14px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 77, 79, 1);
}
.mycourse-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.mycourse-navlink {
  display: contents;
}
.mycourse-frame-avatar {
  gap: 8px;
  display: flex;
  padding: 7px;
  align-items: flex-start;
  border-radius: 96px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.25);
}
.mycourse-icon-user-outlined {
  width: 18px;
  height: 18px;
}
.mycourse-frame-card1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
.mycourse-header-button {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
}
.mycourse-header-links {
  gap: 8px;
  width: 1128px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.mycourse-frame-title1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourse-text20 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.mycourse-frame-button3 {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-color: rgba(22, 119, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(22, 119, 255, 1);
}
.mycourse-content5 {
  gap: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mycourse-icon-plus-circle-outlined {
  width: 16px;
  height: 16px;
}
.mycourse-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourse-frame1000002674 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourse-tabs {
  gap: 2px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
}
.mycourse-tab-item-card {
  gap: 10px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px 1px 0;
  border-radius: 6px 6px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-text24 {
  color: rgba(22, 119, 255, 1);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourse-tab-item-card1 {
  gap: 10px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px 1px 0;
  border-radius: 6px 6px 0 0;
  background-color: rgba(0, 0, 0, 0.019999999552965164);
}
.mycourse-text26 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourse-tab-item-card2 {
  gap: 10px;
  height: 40px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px 1px 0;
  border-radius: 6px 6px 0 0;
  background-color: rgba(0, 0, 0, 0.019999999552965164);
}
.mycourse-text28 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourse-content-wrapper1 {
  gap: 8px;
  display: flex;
  padding: 0 0 16px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-gridwith-search {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourse-buttons {
  gap: 24px;
  display: flex;
  padding: 16px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourse-frame-input-search1 {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-input-wrapper1 {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 6px 0 0 6px;
}
.mycourse-frame-input-basic1 {
  gap: 10px;
  display: flex;
  padding: 0 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
}
.mycourse-content6 {
  gap: 8px;
  height: 32px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
.mycourse-text30 {
  color: rgba(0, 0, 0, 0.25);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.mycourse-frame-button4 {
  gap: 8px;
  display: flex;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-radius: 0 6px 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(22, 119, 255, 1);
}
.mycourse-content7 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.mycourse-icon-search-outlined1 {
  width: 16px;
  height: 16px;
}
.mycourse-svg-divider-horizontal {
  width: 1096px;
  height: 1px;
  align-self: stretch;
}
.mycourse-frame-table {
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
.mycourse-frame-table1 {
  gap: 24px;
  display: flex;
  padding: 0 16px;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
.mycourse-content-wrapper2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourse-frame162 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourse-frame1000002616 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.mycourse-frame6356489 {
  gap: 12.855236053466797px;
  width: 350px;
  display: flex;
  padding: 12.855236053466797px;
  box-shadow: 5.356348037719727px 5.356348037719727px 26.78173828125px 0px rgba(95, 95, 95, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(189, 189, 189, 1);
  border-style: solid;
  border-width: 1.0712696313858032px;
  border-radius: 9.641427040100098px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-frame6356483 {
  gap: 8px;
  width: 318px;
  height: 168px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  background-size: cover;
  background-image: url("/external/tq_5-jvn5eudg-9xkv-400w.png");
}
.mycourse-frame6356475 {
  gap: 10px;
  top: 0px;
  left: 0px;
  width: 318px;
  height: 168px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.mycourse-frame6356481 {
  top: -0.50732421875px;
  left: 0.144775390625px;
  width: 318px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourse-text32 {
  color: #262626;
  width: 325px;
  height: auto;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
.mycourse-button {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(9, 88, 217, 1);
}
.mycourse-text33 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.mycourse-frame6356491 {
  gap: 12.855236053466797px;
  width: 350px;
  display: flex;
  padding: 12.855236053466797px;
  box-shadow: 5.356348037719727px 5.356348037719727px 26.78173828125px 0px rgba(95, 95, 95, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(189, 189, 189, 1);
  border-style: solid;
  border-width: 1.0712696313858032px;
  border-radius: 9.641427040100098px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-frame63564831 {
  gap: 8px;
  width: 318px;
  height: 168px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-size: cover;
  background-image: url("/external/tq_u_gt9-5gxx-3bv-400w.png");
}
.mycourse-frame63564751 {
  gap: 10px;
  width: 318px;
  height: 168px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.mycourse-frame63564811 {
  top: -0.50732421875px;
  left: 0.144775390625px;
  width: 318px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourse-text35 {
  color: rgb(38, 38, 38);
  width: 325px;
  height: auto;
  font-size: 16px;
  font-style: Semi Bold;
  text-align: left;
  font-family: "Inter";
  font-weight: 700;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
.mycourse-button1 {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  padding-right: 14px 24px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(9, 88, 217, 1);
}
.mycourse-text36 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.mycourse-frame6356493 {
  gap: 12.855236053466797px;
  width: 350px;
  display: flex;
  padding: 12.855236053466797px;
  box-shadow: 5.356348037719727px 5.356348037719727px 26.78173828125px 0px rgba(95, 95, 95, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(189, 189, 189, 1);
  border-style: solid;
  border-width: 1.0712696313858032px;
  border-radius: 9.641427040100098px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-frame63564832 {
  gap: 8px;
  width: 318px;
  height: 168px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-size: cover;
  background-image: url("/external/tq_ufwhe64tpu-gt3u-400w.png");
}
.mycourse-frame63564752 {
  gap: 10px;
  width: 318px;
  height: 168px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.mycourse-frame63564812 {
  top: -0.50732421875px;
  left: 0.144775390625px;
  width: 318px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourse-text38 {
  color: #262626;
  width: 325px;
  height: auto;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
.mycourse-button2 {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(9, 88, 217, 1);
}
.mycourse-text39 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.mycourse-content-wrapper3 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourse-frame1621 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.mycourse-frame10000026161 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.mycourse-frame6356492 {
  gap: 12.855236053466797px;
  width: 350px;
  display: flex;
  padding: 12.855236053466797px;
  box-shadow: 5.356348037719727px 5.356348037719727px 26.78173828125px 0px rgba(95, 95, 95, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(189, 189, 189, 1);
  border-style: solid;
  border-width: 1.0712696313858032px;
  border-radius: 9.641427040100098px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-frame63564833 {
  gap: 8px;
  width: 318px;
  height: 168px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-size: cover;
  background-image: url("/external/tq__ojjij3rhh-o5ga-400w.png");
}
.mycourse-frame63564753 {
  gap: 10px;
  width: 318px;
  height: 168px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.mycourse-frame63564813 {
  top: -0.50732421875px;
  left: 0.144775390625px;
  width: 318px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourse-group1000000797 {
  top: 8.0146484375px;
  left: 7.71044921875px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourse-ellipse166 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  opacity: 0.40;
  position: absolute;
}
.mycourse-majesticonsinformationcircle {
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourse-group1 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourse-vector4 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.mycourse-text41 {
  color: #262626;
  width: 325px;
  height: auto;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
.mycourse-button3 {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(9, 88, 217, 1);
}
.mycourse-text42 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.mycourse-frame63564911 {
  gap: 12.855236053466797px;
  width: 350px;
  display: flex;
  padding: 12.855236053466797px;
  box-shadow: 5.356348037719727px 5.356348037719727px 26.78173828125px 0px rgba(95, 95, 95, 0.15000000596046448) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(189, 189, 189, 1);
  border-style: solid;
  border-width: 1.0712696313858032px;
  border-radius: 9.641427040100098px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-frame63564834 {
  gap: 8px;
  width: 318px;
  height: 168px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  background-size: cover;
  background-image: url("/external/tq_nno9btbwyq-up-400w.png");
}
.mycourse-frame63564754 {
  gap: 10px;
  width: 318px;
  height: 168px;
  display: flex;
  position: relative;
  align-items: flex-start;
}
.mycourse-frame63564814 {
  top: -0.50732421875px;
  left: 0.144775390625px;
  width: 318px;
  height: 169px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourse-group10000007971 {
  top: 8.0146484375px;
  left: 7.71044921875px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourse-ellipse1661 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  opacity: 0.40;
  position: absolute;
}
.mycourse-majesticonsinformationcircle1 {
  top: 6px;
  left: 6px;
  width: 12px;
  height: 12px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.mycourse-group2 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.mycourse-vector5 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.mycourse-text44 {
  color: #262626;
  width: 325px;
  height: auto;
  font-size: 16px;
  text-align: left;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
}
.mycourse-button4 {
  gap: 10px;
  display: flex;
  padding: 14px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(9, 88, 217, 1);
}
.mycourse-text45 {
  color: var(--dl-color-light_textlinkcolor-white);
  height: auto;
  text-align: center;
  line-height: 120.00000476837158%;
}
.mycourse-frame-pagination {
  gap: 8px;
  display: flex;
  padding: 16px 0;
  align-items: flex-start;
}
.mycourse-pagination-item-arrow {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 6px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.mycourse-icon-left-outlined {
  width: 14px;
  height: 14px;
}
.mycourse-pagination-item-number {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 6px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(22, 119, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.mycourse-text47 {
  color: rgba(22, 119, 255, 1);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 22px;
}
.mycourse-pagination-item-number1 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 6px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.mycourse-text48 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 22px;
}
.mycourse-pagination-item-number2 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 6px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.mycourse-text49 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 22px;
}
.mycourse-pagination-item-number3 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 6px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.mycourse-text50 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 22px;
}
.mycourse-pagination-item-number4 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 6px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.mycourse-text51 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  align-self: stretch;
  text-align: center;
  line-height: 22px;
}
.mycourse-pagination-item-arrow1 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 6px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.mycourse-icon-right-outlined {
  width: 14px;
  height: 14px;
}
.mycourse-frame-footer1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.mycourse-content-wrapper4 {
  gap: 223px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.mycourse-content-wrapper5 {
  gap: 48px;
  display: flex;
  align-items: flex-end;
}
.mycourse-text52 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourse-text54 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourse-text56 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourse-text58 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.mycourse-text60 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 1201px;
  height: auto;
  align-self: stretch;
  text-align: right;
  line-height: 22px;
}
