.webinar-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.webinar-createcourse {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-frame-admin-panel-menu1 {
  height: 955px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-frame-admin-panel-menu11 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-logo {
  gap: 8px;
  display: flex;
  padding: 16px 16px 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-logo1 {
  gap: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.webinar-frame1000002598 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-container-logo {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 4.800000190734863px;
}
.webinar-book4 {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14.40000057220459px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-group {
  top: 1.2000000476837158px;
  left: 1.2000000476837158px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.webinar-vector {
  top: 1.8000489473342896px;
  left: 2.3998048305511475px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.webinar-vector1 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.webinar-vector2 {
  top: 5.400049209594727px;
  left: 2.999804973602295px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.webinar-vector3 {
  top: 9.000049591064453px;
  left: 2.3998048305511475px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.webinar-frame-title {
  gap: 8px;
  display: flex;
  align-items: center;
}
.webinar-text {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.webinar-frame-menu {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-menu-items {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.webinar-menu-item-inline-navigation-item {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.webinar-icon-dashboard-outlined {
  width: 16px;
  height: 16px;
}
.webinar-text002 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 184px;
  height: auto;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.webinar-menu-item-inline-navigation-item1 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.webinar-icon-database-outlined {
  width: 16px;
  height: 16px;
}
.webinar-text004 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.webinar-menu-item-inline-navigation-item2 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.webinar-icon-bar-chart-outlined {
  width: 16px;
  height: 16px;
}
.webinar-text006 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.webinar-menu-item-inline-navigation-item3 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.webinar-icon-calendar-outlined {
  width: 16px;
  height: 16px;
}
.webinar-text008 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.webinar-menu-item-inline-navigation-item4 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(230, 244, 255, 1);
}
.webinar-icon-video-camera-outlined {
  width: 16px;
  height: 16px;
}
.webinar-text010 {
  color: rgba(22, 119, 255, 1);
  width: 103px;
  height: auto;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.webinar-menu-items1 {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.webinar-menu-item-inline-navigation-item5 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.webinar-icon-setting-outlined {
  width: 16px;
  height: 16px;
}
.webinar-text012 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.webinar-content-wrapper {
  width: 1176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-frame-header {
  gap: 8px;
  display: flex;
  padding: 8px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-icon-search {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.webinar-frame-button {
  gap: 8px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-content {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-menu-fold-outlined {
  width: 16px;
  height: 16px;
}
.webinar-frame-input-search {
  width: 348px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-input-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 6px 0 0 6px;
}
.webinar-frame-input-basic {
  gap: 10px;
  display: flex;
  padding: 0 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
}
.webinar-content01 {
  gap: 8px;
  height: 32px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
.webinar-text014 {
  color: rgba(0, 0, 0, 0.25);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.webinar-frame-button1 {
  gap: 8px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 6px 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-content02 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-search-outlined {
  width: 16px;
  height: 16px;
}
.webinar-avatar-button {
  gap: 16px;
  display: flex;
  align-items: center;
}
.webinar-frame-button2 {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-content03 {
  gap: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-global-outlined {
  width: 16px;
  height: 16px;
}
.webinar-text016 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.webinar-notifications {
  gap: 8px;
  display: flex;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-icon-bell-outlined {
  width: 16px;
  height: 16px;
}
.webinar-content04 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-frame-badge-basic {
  height: 14px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 77, 79, 1);
}
.webinar-text018 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.webinar-navlink {
  display: contents;
}
.webinar-frame-avatar {
  gap: 8px;
  display: flex;
  padding: 7px;
  align-items: flex-start;
  border-radius: 96px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.25);
}
.webinar-icon-user-outlined {
  width: 18px;
  height: 18px;
}
.webinar-frame-card1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
.webinar-header-button {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
}
.webinar-header-links {
  gap: 8px;
  width: 1128px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-frame-title1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-text020 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.webinar-frame-button3 {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-color: rgba(22, 119, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(22, 119, 255, 1);
}
.webinar-content05 {
  gap: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-plus-circle-outlined {
  width: 16px;
  height: 16px;
}
.webinar-text022 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.webinar-frame-calendar4 {
  gap: 24px;
  display: flex;
  padding: 24px 24px 245px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-frame-title2 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.webinar-text024 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 38px;
}
.webinar-list-calendar {
  gap: 48px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-calendar-list {
  width: 732px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-calendar-item-list {
  gap: 24px;
  display: flex;
  padding: 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-text-wrapper {
  width: 732px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.webinar-header {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.webinar-frame-avatar1 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 0.25);
}
.webinar-rectangle1 {
  width: 64px;
  height: 64px;
  border-radius: 6px;
}
.webinar-text-wrapper01 {
  gap: 12px;
  width: 604px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-text-wrapper02 {
  gap: 4px;
  width: 468px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-text026 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 22px;
}
.webinar-footer {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-icon-wrapper {
  gap: 8px;
  width: 234px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-calendar-outlined1 {
  width: 16px;
  height: 16px;
}
.webinar-text028 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.webinar-rectangle4 {
  width: 1px;
  height: auto;
  align-self: stretch;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px;
}
.webinar-pagination-item-more {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-ellipsis-outlined {
  width: 24px;
  height: 24px;
}
.webinar-calendar-item-list1 {
  gap: 24px;
  display: flex;
  padding: 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-text-wrapper03 {
  width: 732px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.webinar-header1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.webinar-frame-avatar2 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.webinar-rectangle11 {
  width: 64px;
  height: 64px;
  border-radius: 6px;
}
.webinar-text-wrapper04 {
  gap: 12px;
  width: 604px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-text-wrapper05 {
  gap: 4px;
  width: 468px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-text030 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 22px;
}
.webinar-footer1 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-icon-wrapper1 {
  gap: 8px;
  width: 234px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-calendar-outlined2 {
  width: 16px;
  height: 16px;
}
.webinar-text032 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.webinar-rectangle41 {
  width: 1px;
  height: auto;
  align-self: stretch;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px;
}
.webinar-pagination-item-more1 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-ellipsis-outlined1 {
  width: 24px;
  height: 24px;
}
.webinar-calendar-item-list2 {
  gap: 24px;
  display: flex;
  padding: 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-text-wrapper06 {
  width: 732px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.webinar-header2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.webinar-frame-avatar3 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.webinar-rectangle12 {
  width: 64px;
  height: 64px;
  border-radius: 6px;
}
.webinar-text-wrapper07 {
  gap: 12px;
  width: 604px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-text-wrapper08 {
  gap: 4px;
  width: 468px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-text034 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 22px;
}
.webinar-footer2 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-icon-wrapper2 {
  gap: 8px;
  width: 234px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-calendar-outlined3 {
  width: 16px;
  height: 16px;
}
.webinar-text036 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.webinar-rectangle42 {
  width: 1px;
  height: auto;
  align-self: stretch;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px;
}
.webinar-pagination-item-more2 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-ellipsis-outlined2 {
  width: 24px;
  height: 24px;
}
.webinar-calendar-item-list3 {
  gap: 24px;
  display: flex;
  padding: 16px 0;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-text-wrapper09 {
  width: 732px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
.webinar-header3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
.webinar-frame-avatar4 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.webinar-rectangle13 {
  width: 64px;
  height: 64px;
  border-radius: 6px;
}
.webinar-text-wrapper10 {
  gap: 12px;
  width: 604px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-text-wrapper11 {
  gap: 4px;
  width: 468px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-text038 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 22px;
}
.webinar-footer3 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-icon-wrapper3 {
  gap: 8px;
  width: 234px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-calendar-outlined4 {
  width: 16px;
  height: 16px;
}
.webinar-text040 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.webinar-rectangle43 {
  width: 1px;
  height: auto;
  align-self: stretch;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px;
}
.webinar-pagination-item-more3 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-ellipsis-outlined3 {
  width: 24px;
  height: 24px;
}
.webinar-calendar {
  gap: 16px;
  width: 300px;
  height: 358px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.webinar-frame-calendar-card {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-header4 {
  gap: 8px;
  display: flex;
  padding: 12px 8px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  flex-direction: column;
}
.webinar-frame-title3 {
  gap: 4px;
  display: flex;
  align-items: center;
}
.webinar-text042 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 28px;
}
.webinar-frame1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-select-input {
  gap: 4px;
  width: 72px;
  display: flex;
  padding: 0 8px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-text044 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.webinar-icon-down-outlined {
  width: 16px;
  height: 16px;
}
.webinar-select-input1 {
  gap: 4px;
  width: 72px;
  display: flex;
  padding: 0 8px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-text046 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.webinar-icon-down-outlined1 {
  width: 16px;
  height: 16px;
}
.webinar-frame-radio-group {
  display: flex;
  align-items: flex-start;
  border-radius: 6px;
}
.webinar-radio-button {
  gap: 8px;
  height: 24px;
  display: flex;
  padding: 0 8px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(22, 119, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px 0 0 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-content06 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.webinar-text048 {
  color: rgba(22, 119, 255, 1);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.webinar-radio-button1 {
  gap: 8px;
  height: 24px;
  display: flex;
  padding: 0 8px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px 1px 1px 0;
  border-radius: 0 6px 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-content07 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.webinar-text050 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.webinar-content08 {
  display: flex;
  padding: 8px;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.webinar-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-cell-wrapper {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text052 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper01 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item01 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text054 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper02 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item02 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text056 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper03 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item03 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text058 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper04 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item04 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text060 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper05 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item05 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text062 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper06 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item06 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text064 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-row1 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-cell-wrapper07 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item07 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text066 {
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper08 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item08 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text068 {
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper09 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item09 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(22, 119, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text070 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper10 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item10 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text071 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper11 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item11 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text072 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper12 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item12 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text073 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper13 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item13 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text074 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-row2 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-cell-wrapper14 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item14 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text075 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper15 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item15 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text076 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper16 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item16 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text077 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper17 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item17 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text078 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper18 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item18 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text079 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper19 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item19 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text081 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper20 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item20 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text083 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-row3 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-cell-wrapper21 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item21 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text085 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper22 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item22 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text087 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper23 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item23 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text089 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper24 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item24 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text091 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper25 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item25 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text093 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper26 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item26 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text095 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper27 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item27 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text097 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-row4 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-cell-wrapper28 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item28 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text099 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper29 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item29 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text101 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper30 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item30 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text103 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper31 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item31 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text105 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper32 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item32 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text107 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper33 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item33 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text109 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper34 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item34 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text111 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-row5 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-cell-wrapper35 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item35 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text113 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper36 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item36 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text115 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper37 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item37 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text117 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper38 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item38 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text119 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper39 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item39 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text121 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper40 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item40 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text123 {
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper41 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item41 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text124 {
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-row6 {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-cell-wrapper42 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item42 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text125 {
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper43 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item43 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text126 {
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper44 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item44 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text127 {
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper45 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item45 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text128 {
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper46 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item46 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text129 {
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper47 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item47 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text130 {
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-cell-wrapper48 {
  gap: 10px;
  display: flex;
  padding: 3px 6px;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
}
.webinar-date-picker-menu-item48 {
  gap: 10px;
  width: 24px;
  display: flex;
  padding: 1px 3px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-text131 {
  color: rgba(0, 0, 0, 0.25);
  width: 24px;
  height: auto;
  text-align: center;
  line-height: 22px;
}
.webinar-button-arrows {
  gap: 58px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.webinar-frame-pagination {
  gap: 8px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
.webinar-pagination-item-arrow {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 6px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-icon-left-outlined {
  width: 14px;
  height: 14px;
}
.webinar-frame-button4 {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-color: rgba(22, 119, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(22, 119, 255, 1);
}
.webinar-content09 {
  gap: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.webinar-icon-plus-outlined {
  width: 16px;
  height: 16px;
}
.webinar-text132 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.webinar-pagination-item-arrow1 {
  gap: 10px;
  width: 32px;
  height: 32px;
  display: flex;
  padding: 0 6px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.webinar-icon-right-outlined {
  width: 14px;
  height: 14px;
}
.webinar-frame-footer1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.webinar-content-wrapper1 {
  gap: 223px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.webinar-content-wrapper2 {
  gap: 48px;
  display: flex;
  align-items: flex-end;
}
.webinar-text134 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.webinar-text136 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.webinar-text138 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.webinar-text140 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.webinar-text142 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 1201px;
  height: auto;
  align-self: stretch;
  text-align: right;
  line-height: 22px;
}
