.previewtest-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.previewtest-addtest {
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.previewtest-frame-admin-panel-menu1 {
  height: 1223px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.previewtest-frame-admin-panel-menu11 {
  display: flex;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.previewtest-logo {
  gap: 8px;
  display: flex;
  padding: 16px 16px 16px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  background-color: rgba(255, 255, 255, 1);
}
.previewtest-logo1 {
  gap: 8px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.previewtest-frame1000002598 {
  width: 24px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.previewtest-container-logo {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  position: absolute;
  border-radius: 4.800000190734863px;
}
.previewtest-book4 {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14.40000057220459px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.previewtest-group {
  top: 1.2000000476837158px;
  left: 1.2000000476837158px;
  width: 12px;
  height: 12px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-vector {
  top: 1.8000489473342896px;
  left: 2.3999879360198975px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.previewtest-vector1 {
  top: 0px;
  left: 0px;
  width: 12px;
  height: 12px;
  position: absolute;
}
.previewtest-vector2 {
  top: 5.400049209594727px;
  left: 2.999988079071045px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.previewtest-vector3 {
  top: 9.000049591064453px;
  left: 2.3999879360198975px;
  width: 3px;
  height: 1px;
  position: absolute;
}
.previewtest-frame-title {
  gap: 8px;
  display: flex;
  align-items: center;
}
.previewtest-text {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  font-size: 20px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 28px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-frame-menu {
  gap: 8px;
  display: flex;
  padding: 4px 0;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.previewtest-menu-items {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.previewtest-menu-item-inline-navigation-item {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.previewtest-icon-dashboard-outlined {
  width: 16px;
  height: 16px;
}
.previewtest-text02 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 184px;
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-menu-item-inline-navigation-item1 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(186, 224, 255, 1);
}
.previewtest-icon-database-outlined {
  width: 16px;
  height: 16px;
}
.previewtest-text04 {
  color: rgba(9, 88, 217, 1);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.previewtest-menu-item-inline-navigation-item2 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.previewtest-icon-bar-chart-outlined {
  width: 16px;
  height: 16px;
}
.previewtest-text06 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.previewtest-menu-item-inline-navigation-item3 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.previewtest-icon-calendar-outlined {
  width: 16px;
  height: 16px;
}
.previewtest-text08 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.previewtest-menu-item-inline-navigation-item4 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.previewtest-icon-video-camera-outlined {
  width: 16px;
  height: 16px;
}
.previewtest-text10 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.previewtest-menu-items1 {
  gap: 8px;
  display: flex;
  padding: 0 4px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.previewtest-menu-item-inline-navigation-item5 {
  gap: 8px;
  display: flex;
  padding: 0 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
}
.previewtest-icon-setting-outlined {
  width: 16px;
  height: 16px;
}
.previewtest-text12 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
  text-decoration: none;
}
.previewtest-content-wrapper {
  width: 1176px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.previewtest-frame-header {
  gap: 8px;
  display: flex;
  padding: 8px 24px;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 1);
}
.previewtest-icon-search {
  gap: 8px;
  display: flex;
  align-items: flex-start;
}
.previewtest-frame-button {
  gap: 8px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.previewtest-content {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.previewtest-icon-menu-fold-outlined {
  width: 16px;
  height: 16px;
}
.previewtest-frame-input-search {
  width: 348px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
.previewtest-input-wrapper {
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px 0 1px 1px;
  border-radius: 6px 0 0 6px;
}
.previewtest-frame-input-basic {
  gap: 10px;
  display: flex;
  padding: 0 12px;
  overflow: hidden;
  flex-grow: 1;
  align-items: center;
}
.previewtest-content1 {
  gap: 8px;
  height: 32px;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
}
.previewtest-text14 {
  color: rgba(0, 0, 0, 0.25);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 22px;
}
.previewtest-frame-button1 {
  gap: 8px;
  display: flex;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 0 6px 6px 0;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.previewtest-content2 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.previewtest-icon-search-outlined {
  width: 16px;
  height: 16px;
}
.previewtest-avatar-button {
  gap: 16px;
  display: flex;
  align-items: center;
}
.previewtest-frame-button2 {
  gap: 8px;
  display: flex;
  padding: 0 16px;
  box-sizing: content-box;
  align-items: center;
  border-radius: 6px;
  flex-direction: column;
  justify-content: center;
}
.previewtest-content3 {
  gap: 8px;
  height: 32px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.previewtest-icon-global-outlined {
  width: 16px;
  height: 16px;
}
.previewtest-text16 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-notifications {
  gap: 8px;
  display: flex;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.019999999552965164) ;
  align-items: center;
  border-color: rgba(0, 0, 0, 0.15000000596046448);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.previewtest-icon-bell-outlined {
  width: 16px;
  height: 16px;
}
.previewtest-content4 {
  gap: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.previewtest-frame-badge-basic {
  height: 14px;
  display: flex;
  padding: 0 4px;
  z-index: 1;
  overflow: hidden;
  box-sizing: content-box;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 12px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 77, 79, 1);
}
.previewtest-text18 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: center;
  line-height: 20px;
}
.previewtest-navlink {
  display: contents;
}
.previewtest-frame-avatar {
  gap: 8px;
  display: flex;
  padding: 7px;
  align-items: flex-start;
  border-radius: 96px;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.25);
}
.previewtest-icon-user-outlined {
  width: 18px;
  height: 18px;
}
.previewtest-frame-card1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(245, 245, 245, 1);
}
.previewtest-header-button {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-end;
  flex-shrink: 0;
}
.previewtest-header-links {
  gap: 8px;
  width: 1128px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.previewtest-frame-breadcrumb {
  display: flex;
  align-items: center;
}
.previewtest-breadcrumb-link {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  border-radius: 4px;
}
.previewtest-text20 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-breadcrumb-separator {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  overflow: hidden;
  align-items: center;
}
.previewtest-content5 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.previewtest-text22 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-breadcrumb-link1 {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  border-radius: 4px;
}
.previewtest-text23 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-breadcrumb-separator1 {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  overflow: hidden;
  align-items: center;
}
.previewtest-content6 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.previewtest-text25 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-breadcrumb-link2 {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  border-radius: 4px;
}
.previewtest-text26 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-breadcrumb-separator2 {
  gap: 10px;
  display: flex;
  padding: 0 4px;
  overflow: hidden;
  align-items: center;
}
.previewtest-content7 {
  gap: 8px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.previewtest-text28 {
  color: rgba(0, 0, 0, 0.44999998807907104);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-breadcrumb-link3 {
  gap: 4px;
  display: flex;
  padding: 0 4px;
  align-items: center;
  border-radius: 4px;
}
.previewtest-text29 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-frame-title1 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
.previewtest-text31 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  flex-grow: 1;
  text-align: left;
  line-height: 38px;
}
.previewtest-form {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.previewtest-content-wrapper1 {
  gap: 32px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-end;
  border-radius: 6px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.previewtest-frame1000002607 {
  width: 1080px;
  height: 872px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
}
.previewtest-frame101 {
  gap: 8px;
  top: 48px;
  left: 0px;
  width: 568px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.previewtest-group126 {
  width: 40px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle24 {
  top: 0.2607421875px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text33 {
  left: 12px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group127 {
  width: 40px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle48 {
  top: 0.2607421875px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text35 {
  left: 12px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group128 {
  width: 40px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle49 {
  top: 0.2607421875px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text37 {
  left: 13px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group129 {
  width: 40px;
  height: 22.7392578125px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle50 {
  top: 0px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text39 {
  top: 0.7392578125px;
  left: 12px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group130 {
  width: 40px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle52 {
  top: 0.2607421875px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text41 {
  left: 13px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group131 {
  width: 40px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle521 {
  top: 0.2607421875px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text43 {
  left: 13px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group132 {
  width: 40px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle522 {
  top: 0.2607421875px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text45 {
  left: 13px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group133 {
  width: 40px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle523 {
  top: 0.2607421875px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text47 {
  left: 13px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group134 {
  width: 40px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle524 {
  top: 0.2607421875px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text49 {
  left: 13px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group135 {
  width: 40px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle525 {
  top: 0.2607421875px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text51 {
  left: 13px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group136 {
  width: 40px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle526 {
  top: 0.2607421875px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text53 {
  left: 13px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group137 {
  width: 40px;
  height: 23px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle527 {
  top: 0.2607421875px;
  left: 0px;
  width: 40px;
  height: 23px;
  position: absolute;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}
.previewtest-text55 {
  left: 13px;
  color: var(--dl-color-default-lmstext);
  width: 15px;
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 22px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-rectangle95 {
  top: 103px;
  left: 0px;
  width: 874px;
  height: 769px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
}
.previewtest-text57 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 28px;
}
.previewtest-text59 {
  top: 654px;
  left: 40px;
  color: var(--dl-color-default-lmstext);
  width: 236px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.previewtest-text61 {
  top: 174px;
  left: 48px;
  color: var(--dl-color-default-lmstext);
  width: 767px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 22px;
}
.previewtest-group86 {
  top: 170.7432098388672px;
  left: 44px;
  width: 806px;
  height: 456.5149841308594px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-group79 {
  top: 0px;
  left: 0px;
  width: 806px;
  height: 456.5149841308594px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle46 {
  top: 74.25680541992188px;
  left: 3.637978807091713e-12px;
  width: 628px;
  height: 382px;
  position: absolute;
  border-color: rgba(55, 65, 81, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 16px;
}
.previewtest-group78 {
  top: 0px;
  left: 0px;
  width: 806px;
  height: 451.30810546875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-miniplayer {
  top: 0px;
  left: 777.2943725585938px;
  width: 29px;
  height: 31px;
  position: absolute;
}
.previewtest-group77 {
  top: 417.2950439453125px;
  left: 0px;
  width: 632.8198852539062px;
  height: 34.0130615234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-group76 {
  top: 0px;
  left: 0px;
  width: 632.8198852539062px;
  height: 34.0130615234375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-group75 {
  top: 0px;
  left: 0px;
  width: 625.9443969726562px;
  height: 5.02009391784668px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-rectangle20 {
  top: 0.56396484375px;
  left: 625.9445190429688px;
  width: 3px;
  height: 626px;
  position: absolute;
}
.previewtest-rectangle491 {
  top: 0.56396484375px;
  left: 270.3117980957031px;
  width: 3px;
  height: 270px;
  position: absolute;
}
.previewtest-group74 {
  top: 7.99072265625px;
  left: 12.75626277923584px;
  width: 620.0635986328125px;
  height: 26.022336959838867px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-frame71 {
  top: 0px;
  left: 461.5823669433594px;
  width: 158px;
  height: 26px;
  position: absolute;
}
.previewtest-frame73 {
  gap: 16px;
  top: 0.02233719639480114px;
  left: 0.00020693449187092483px;
  display: flex;
  position: absolute;
  align-items: center;
}
.previewtest-frame72 {
  gap: 8px;
  display: flex;
  align-items: center;
}
.previewtest-remixiconsfillmediaplayminifill {
  width: 24px;
  height: 24px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
}
.previewtest-group1 {
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-vector4 {
  top: 5.370851993560791px;
  left: 6.999995231628418px;
  width: 12px;
  height: 13px;
  position: absolute;
}
.previewtest-text63 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group71 {
  width: 21px;
  height: 26px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-vector5 {
  top: 4px;
  left: 0px;
  width: 21px;
  height: 18px;
  position: absolute;
}
.previewtest-text65 {
  left: 8px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 6px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-group72 {
  width: 21px;
  height: 26px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-vector6 {
  top: 4px;
  left: 0px;
  width: 21px;
  height: 18px;
  position: absolute;
}
.previewtest-text67 {
  left: -16px;
  color: var(--dl-color-default-white);
  height: auto;
  position: absolute;
  font-size: 6px;
  font-style: Bold;
  text-align: left;
  font-family: Mulish;
  font-weight: 700;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-text69 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 14px;
  font-style: SemiBold;
  text-align: left;
  font-family: Mulish;
  font-weight: 600;
  line-height: 26px;
  font-stretch: normal;
  text-decoration: none;
}
.previewtest-frame149 {
  gap: 10px;
  top: 696px;
  left: 40px;
  width: 750px;
  height: 46px;
  display: flex;
  padding: 4px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: rgba(236, 248, 247, 1);
}
.previewtest-group361 {
  width: 27px;
  height: 26px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-ellipse33 {
  top: 0px;
  left: 0px;
  width: 27px;
  height: 26px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.previewtest-ellipse34 {
  top: 6px;
  left: 7px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.previewtest-frame103 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.previewtest-text71 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-frame263 {
  gap: 10px;
  top: 748px;
  left: 40px;
  width: 750px;
  height: 46px;
  display: flex;
  padding: 4px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.previewtest-frame362 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.previewtest-group3611 {
  width: 25px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-ellipse331 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 24px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.previewtest-frame1031 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.previewtest-text73 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-frame264 {
  gap: 10px;
  top: 800px;
  left: 40px;
  width: 750px;
  height: 46px;
  display: flex;
  padding: 4px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(36, 37, 52, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  background-color: var(--dl-color-default-white);
}
.previewtest-frame3621 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.previewtest-group3612 {
  width: 25px;
  height: 24px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-ellipse332 {
  top: 0px;
  left: 0px;
  width: 25px;
  height: 24px;
  position: absolute;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
}
.previewtest-frame1032 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.previewtest-text75 {
  color: var(--dl-color-default-lmstext);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-group1271 {
  top: 127px;
  left: 40px;
  width: 130px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.previewtest-group364 {
  top: 0px;
  left: 0px;
  width: 130px;
  height: 32px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
  background-color: rgba(255, 193, 82, 1);
}
.previewtest-text77 {
  top: 5px;
  left: 19px;
  color: var(--dl-color-default-lmstext);
  width: 106px;
  height: auto;
  position: absolute;
  text-align: left;
  line-height: 24px;
}
.previewtest-svg-divider-horizontal {
  width: 1080px;
  height: 1px;
  align-self: stretch;
}
.previewtest-frame-footer1 {
  gap: 24px;
  display: flex;
  padding: 24px;
  align-self: stretch;
  align-items: flex-start;
  border-color: rgba(0, 0, 0, 0.05999999865889549);
  border-style: solid;
  border-width: 1px 0 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.previewtest-content-wrapper2 {
  gap: 223px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
.previewtest-content-wrapper3 {
  gap: 48px;
  display: flex;
  align-items: flex-end;
}
.previewtest-text79 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-text81 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-text83 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-text85 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  height: auto;
  text-align: left;
  line-height: 22px;
}
.previewtest-text87 {
  color: rgba(0, 0, 0, 0.8799999952316284);
  width: 1201px;
  height: auto;
  align-self: stretch;
  text-align: right;
  line-height: 22px;
}
